{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.freestyle.filesystem#ReadDirRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute path inside the guest."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#ReadDirResponse": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.freestyle.filesystem#ReadDirResponseEntriesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.filesystem#DirEntry": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`file`, `directory`, or `symlink`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.filesystem#ReadDirResponseEntriesList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.filesystem#DirEntry"
      },
      "traits": {}
    },
    "com.freestyle.filesystem#ReadDir": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#ReadDirRequest"
      },
      "output": {
        "target": "com.freestyle.filesystem#ReadDirResponse"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/dir",
          "code": 200
        },
        "smithy.api#documentation": "List the entries of a directory inside the VM."
      }
    },
    "com.freestyle.filesystem#PathExistsRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute path inside the guest."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#PathExistsResponse": {
      "type": "structure",
      "members": {
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.filesystem#PathExists": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#PathExistsRequest"
      },
      "output": {
        "target": "com.freestyle.filesystem#PathExistsResponse"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/exists",
          "code": 200
        },
        "smithy.api#documentation": "Check whether a path exists inside the VM."
      }
    },
    "com.freestyle.filesystem#MakeDirRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute path inside the guest.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#MakeDir": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#MakeDirRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/mkdir",
          "code": 200
        },
        "smithy.api#documentation": "Create a directory inside the VM."
      }
    },
    "com.freestyle.filesystem#ReadFileRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute path inside the guest."
          }
        },
        "range": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Range",
            "smithy.api#documentation": "Optional single byte range, e.g. `bytes=0-1048575`"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#ReadFile": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#ReadFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        },
        {
          "target": "com.freestyle.filesystem#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/read",
          "code": 200
        },
        "smithy.api#documentation": "Read a file from inside the VM. The response body is the file's raw bytes, streamed from the guest, so there is no size limit and nothing to decode. Send a `Range: bytes=…` header to fetch part of a file — which is also how you resume a download that failed partway."
      }
    },
    "com.freestyle.filesystem#RemovePathRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute path inside the guest."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#RemovePath": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#RemovePathRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/remove",
          "code": 200
        },
        "smithy.api#documentation": "Delete a file or directory inside the VM."
      }
    },
    "com.freestyle.filesystem#StatPathRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute path inside the guest."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#FileStat": {
      "type": "structure",
      "members": {
        "group": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isDirectory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isSymlink": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "modified": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Octal mode, e.g. `0644`.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Size in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.filesystem#StatPath": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#StatPathRequest"
      },
      "output": {
        "target": "com.freestyle.filesystem#FileStat"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/stat",
          "code": 200
        },
        "smithy.api#documentation": "Fetch metadata for a path inside the VM."
      }
    },
    "com.freestyle.filesystem#UploadBeginRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional final file mode bits (e.g. 493 for `0o755`). Defaults to the\ntarget's existing mode, or `0o600` for a new file.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute path inside the guest the finished file is committed to.",
            "smithy.api#required": {}
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional sha256 of the full file as 64 hex characters; the upload is\nrejected at commit if the received bytes do not match.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total file size in bytes, up to 16 GiB.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#UploadSessionStatus": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute guest path the file will be committed to.",
            "smithy.api#required": {}
          }
        },
        "receivedBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bytes stored so far — the offset the next chunk must start at.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total declared file size in bytes.",
            "smithy.api#required": {}
          }
        },
        "uploadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.filesystem#UploadBegin": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#UploadBeginRequest"
      },
      "output": {
        "target": "com.freestyle.filesystem#UploadSessionStatus"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        },
        {
          "target": "com.freestyle.filesystem#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/uploads",
          "code": 200
        },
        "smithy.api#documentation": "Start a chunked upload of a large file (up to 16 GiB) into the VM. Send the bytes with `PUT /fs/uploads/{uploadId}`, then finish with `commit`."
      }
    },
    "com.freestyle.filesystem#UploadStatusRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "uploadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Upload session id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#UploadStatus": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#UploadStatusRequest"
      },
      "output": {
        "target": "com.freestyle.filesystem#UploadSessionStatus"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/uploads/{uploadId}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch an upload session's progress — use `receivedBytes` as the next chunk's offset when resuming after a failed chunk."
      }
    },
    "com.freestyle.filesystem#UploadChunkRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "uploadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Upload session id"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#required": {},
            "smithy.api#documentation": "Byte offset this chunk starts at. Must equal the session's current\n`receivedBytes`; chunks at an already-received offset are acknowledged\nwithout rewriting (safe retries), and offsets beyond it are rejected."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#UploadChunk": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#UploadChunkRequest"
      },
      "output": {
        "target": "com.freestyle.filesystem#UploadSessionStatus"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        },
        {
          "target": "com.freestyle.filesystem#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/uploads/{uploadId}",
          "code": 200
        },
        "smithy.api#documentation": "Append one chunk of raw bytes to an upload session at the given offset. Chunks must arrive in order; on any transport error, re-fetch the session and resume from its `receivedBytes`. Keep chunks small enough to retry cheaply (the SDK uses 16 MiB; the hard cap is 256 MiB)."
      }
    },
    "com.freestyle.filesystem#UploadAbortRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "uploadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Upload session id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#UploadAbort": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#UploadAbortRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#NotFound"
        },
        {
          "target": "com.freestyle.filesystem#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/uploads/{uploadId}",
          "code": 200
        },
        "smithy.api#documentation": "Abandon an upload session and free its server-side spool space."
      }
    },
    "com.freestyle.filesystem#UploadCommitRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "uploadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Upload session id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#UploadCommit": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#UploadCommitRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        },
        {
          "target": "com.freestyle.filesystem#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/uploads/{uploadId}/commit",
          "code": 200
        },
        "smithy.api#documentation": "Finish an upload: the file is verified (size, and sha256 when declared) and renamed into place inside the guest atomically — the target path never holds a partial file. On success the session is gone; on failure it remains and commit may be retried."
      }
    },
    "com.freestyle.filesystem#ContentEncoding": {
      "type": "enum",
      "members": {
        "UTF8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utf8"
          }
        },
        "BASE64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "base64"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How `content` is encoded in the JSON form of a write."
      }
    },
    "com.freestyle.filesystem#WriteFileRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#documentation": "Absolute path inside the guest. Required when the body is raw bytes;\nomitted when sending a JSON body, which carries its own `path`."
          }
        },
        "mode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "mode",
            "smithy.api#documentation": "Final file mode bits (e.g. 493 for `0o755`). Defaults to the target's\nexisting mode, or `0o600` for a new file."
          }
        },
        "sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sha256",
            "smithy.api#documentation": "Optional sha256 of the file as 64 hex characters. Supplied, the write is\nrejected unless the received bytes match."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's content, interpreted per `encoding`.",
            "smithy.api#required": {}
          }
        },
        "encoding": {
          "target": "com.freestyle.filesystem#ContentEncoding",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.filesystem#WriteFile": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.filesystem#WriteFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.filesystem#BadRequest"
        },
        {
          "target": "com.freestyle.filesystem#NotFound"
        },
        {
          "target": "com.freestyle.filesystem#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v5/vms/{vmIdOrSlug}/fs/write",
          "code": 200
        },
        "smithy.api#documentation": "Write a file inside the VM, atomically: the path holds the old file until the new one has arrived intact, never a half-written one.\n\nSend the file as the raw request body (with `?path=`) and it can be as large as 16 GiB — nothing buffers it whole. Send a JSON body instead (up to 32 MiB) when it is easier to type than to upload, as from this page.\n\nThis is a single attempt: if the connection drops, the write starts over. To upload something big over a link you do not trust, open an upload session (`POST /fs/uploads`) and send retryable chunks instead."
      }
    },
    "com.freestyle.filesystem#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.freestyle.filesystem#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.freestyle.filesystem#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.freestyle.filesystem#Filesystem": {
      "type": "service",
      "version": "0.1.0",
      "operations": [
        {
          "target": "com.freestyle.filesystem#ReadDir"
        },
        {
          "target": "com.freestyle.filesystem#PathExists"
        },
        {
          "target": "com.freestyle.filesystem#MakeDir"
        },
        {
          "target": "com.freestyle.filesystem#ReadFile"
        },
        {
          "target": "com.freestyle.filesystem#RemovePath"
        },
        {
          "target": "com.freestyle.filesystem#StatPath"
        },
        {
          "target": "com.freestyle.filesystem#UploadBegin"
        },
        {
          "target": "com.freestyle.filesystem#UploadStatus"
        },
        {
          "target": "com.freestyle.filesystem#UploadChunk"
        },
        {
          "target": "com.freestyle.filesystem#UploadAbort"
        },
        {
          "target": "com.freestyle.filesystem#UploadCommit"
        },
        {
          "target": "com.freestyle.filesystem#WriteFile"
        }
      ],
      "traits": {
        "smithy.api#title": "Freestyle",
        "smithy.api#documentation": "# Powerful Virtual Machines\n\nDocumentation: [freestyle.sh/docs](https://freestyle.sh/docs)\n\nFreestyle VMs are full Linux virtual machines designed for long running, complex tasks.\n\n## Key Features\n\n- **Instant Startup**: Freestyle VMs provision in milliseconds, with p99s under 400ms.\n- **Persistence**: Freestyle VMs can run forever, they can be hibernated with their exact memory in place and come back to life weeks later instantly, in that exact state.\n- **Powerful**: Freestyle VMs go up to 64GB of RAM for public tiers and much further for enterprise. Freestyle does high quality hardware virtualization supporting nested virtualization, FUSE, eBPF, full Linux networking and more. If it can run in an EC2, it can run in a Freestyle VM.\n- **Cheaply Snapshottable and Branchable**: Freestyle VMs are instantly and cheaply snapshottable (sub 1ms interruption, sub 50ms to snapshot ready). These snapshots can be used to create new VMs in the exact state of the original VM (memory and disk). This enables powerful workflows like branching, cloning, and rapid recovery from failures.\n\n## When to use Freestyle\n\n- **Long Running Agent Tasks**: When you have tasks that take hours, days, weeks or months to run, Freestyle VMs provide a persistent and powerful environment that your agent can work in to completion.\n- **Failure Prone/Experimental Exploration**: When your tasks involve branching, cloning or need time travel Freestyle VMs are ideal because of their cheap snapshottability and power that makes them great for experiments.\n- **Complex Coding Problems**: When you are tackling advanced coding problems in research or production codebases, poor virtualization and small sandboxes will not cut it. Freestyle VMs provide the necessary resources and environment to handle these challenges effectively.\n- **Multi Tenant Usage Patterns**: Freestyle VMs are intentionally built to be used by agent builders with multiple customers. The slug system allows for keying VMs by their user, the identity system allows for granular acccess control and permissioning, and the VPC system allows for multi-tenant network isolation. \n\n## When not to use it\n\n- **\"Run AI Code\"**: If your exclusively executing short lived Python scripts or other ephemeral tasks the benefits above aren't relevant. Freestyle VMs should still be benchmarked but there may be alternatives better suited.\n- **CPU Intensive CI/CD**: Freestyle VMs run on bare metal on data center CPUs. We also oversubscribe host resources. For workloads that require sustained high CPU usage like building the Linux Kernel or mining crypto prefer cloud providers that offer consumer CPU performance.\n- **Short Lived Tasks**: If your tasks are extremely short lived and do not benefit from persistence or powerful hardware. If your average task takes less than 15 minutes to complete then they are likely cheaply retryable and don't require the reliability and persistence that Freestyle VMs provide.\n- **Sole Application Hosting**: Freestyle VMs are designed as workbenches for development, experimentation and task execution. Not for hosting production applications. Hosting a minecraft server for some friends will work great on Freestyle, but we do not offer autoscaling, load balancers or CDNs and we don't plan to.\n\n## Emerging Use Cases\n\n- **RL Environments**: Freestyle VMs are well-suited for running reinforcement learning environments that require persistent state and complex setups. The ability to snapshot and branch VMs allows researchers to experiment with different strategies and record environment states efficiently.\n- **Auto Research Climbing**: Freestyle VMs are great for auto research as the snapshotting and fan out allows research agents to explore multiple strategies, review past results and iterate efficiently without ever losing progress.\n- **Environments for Development, Testing, Security and Pentesting**: Freestyle VMs are the only sandbox provider that offers full private VPC and networking which allows simulating full applications in production like staging environments. This can be used for testing, iteration, security assesments and penetration testing in a controlled and isolated environment.\n- **Connecting Agents to Production VPCs**: Freestyle VMs VPC system allows for connections to private production VPCs through secure Wireguard tunnels. If you want sandboxed agents to work on your/your users production infrastructure and they have requirements about not going through the public internet, Freestyle VMs provide a secure and compliant solution.\n\n## Private Offers (Enterprise)\n\n- **GPU Sandboxes**: Freestyle offers private GPU sandboxes for enterprise customers, providing direct access to frontier GPU hardware for high performance computing, machine learning and generally the above **Emerging Use Cases**.\n- **Colocated Bare Metal**: For users wanting sandboxes that work with especially weird requirements Freestyle can offer space in our racks for your dedicated bare metal servers. This can be useful for custom GPUs, video processing, or any other specialized hardware needs.\n- **Custom Pricing**: Freestyle can offer spot access, CPU Time billing, node based pricing and more. These deals can be tailored to the specific needs and usage patterns of enterprise customers.\n- **Custom Sandboxing**: Freestyle builds and maintains its own custom virtualization solutions which allows us to virtualize and sandbox workloads in ways that are not possible with standard options. This enables highly specialized and optimized environments for enterprise customers.\n- **Dedicated Support**: Enterprise customers can receive dedicated support from the Freestyle team, ensuring that any issues or custom requirements are addressed promptly and effectively.\n\nFor more information on Enterprise offerings contact our [sales team](https://cal.com/freestyle/enterprise-onboarding?overlayCalendar=true)\n\n### Relevant Links\n\n- [Freestyle Documentation](https://freestyle.sh/docs)\n- [Freestyle Dashboard](https://dash.freestyle.sh) — manage your account and API keys.\n\nAI agents can create their own API key with `npx -y freestyle@latest tokens create \"agent work\" --output json` using an existing CLI login. Run `npx -y freestyle@latest login` first if needed, then use the returned `token` as `FREESTYLE_API_KEY`."
      }
    }
  }
}
