{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.freestyle.snapshots#ListSnapshotsRequest": {
      "type": "structure",
      "members": {
        "sourceVmId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "sourceVmId",
            "smithy.api#documentation": "Only snapshots taken from this VM."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.snapshots#ListSnapshotsResponse": {
      "type": "structure",
      "members": {
        "snapshots": {
          "target": "com.freestyle.snapshots#ListSnapshotsResponseSnapshotsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.snapshots#Snapshot": {
      "type": "structure",
      "members": {
        "autoDeleteFromPlan": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether `autoDeleteSeconds` above is your plan's doing rather than\nyours, under the same rule as on a VM."
          }
        },
        "autoDeleteSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delete the snapshot once this long has passed without a VM being\ncreated from it. Absent means never. Some plans cap this and the cap\nshows up here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a VM was last created from this snapshot. Absent if none ever has\nbeen — which is not the same as never having been touched, since\nrenaming a snapshot is not using it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Public snapshots are bootable by any account."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sourceVmDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The source VM's display name now, under the same rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sourceVmId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sourceVmSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What the source VM is called *now*; absent when it has no slug and\nwhen it is gone.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delete the snapshot this long after it was taken, however recently\nanything booted it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A snapshot as its owner sees it. The disk/memory layer tree, replication\ntargets, and originating manager are storage internals and are not exposed."
      }
    },
    "com.freestyle.snapshots#ListSnapshotsResponseSnapshotsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.snapshots#Snapshot"
      },
      "traits": {}
    },
    "com.freestyle.snapshots#ListSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.snapshots#ListSnapshotsRequest"
      },
      "output": {
        "target": "com.freestyle.snapshots#ListSnapshotsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/snapshots",
          "code": 200
        },
        "smithy.api#documentation": "List your snapshots.",
        "smithy.api#paginated": {
          "inputToken": "offset",
          "outputToken": "totalCount",
          "items": "snapshots",
          "pageSize": "limit"
        }
      }
    },
    "com.freestyle.snapshots#GetSnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Snapshot id, your slug, or `{owner}/{slug}` for a public one"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.snapshots#GetSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.snapshots#GetSnapshotRequest"
      },
      "output": {
        "target": "com.freestyle.snapshots#Snapshot"
      },
      "errors": [
        {
          "target": "com.freestyle.snapshots#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/snapshots/{snapshotIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch a snapshot by its id or its slug."
      }
    },
    "com.freestyle.snapshots#UpdateSnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Snapshot id or your slug for it"
          }
        },
        "autoDeleteSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of nothing being created from it before the snapshot is\ndeleted; -1 removes the window. On a plan that caps it, -1 puts you\nback on the cap rather than off it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds from when the snapshot was taken — not from now — before it is\ndeleted; -1 removes the deadline.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.snapshots#UpdateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.snapshots#UpdateSnapshotRequest"
      },
      "output": {
        "target": "com.freestyle.snapshots#Snapshot"
      },
      "errors": [
        {
          "target": "com.freestyle.snapshots#BadRequest"
        },
        {
          "target": "com.freestyle.snapshots#NotFound"
        },
        {
          "target": "com.freestyle.snapshots#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v5/snapshots/{snapshotIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Rename a snapshot or change its slug."
      }
    },
    "com.freestyle.snapshots#DeleteSnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Snapshot id or your slug for it"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.snapshots#DeleteSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.snapshots#DeleteSnapshotRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.snapshots#NotFound"
        },
        {
          "target": "com.freestyle.snapshots#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/snapshots/{snapshotIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a snapshot permanently. VMs already created from it are unaffected — a snapshot is a pointer to the data backing them, not the data itself — and its slug is freed immediately."
      }
    },
    "com.freestyle.snapshots#SnapshotVmRequest": {
      "type": "structure",
      "members": {
        "vmIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VM id, or your slug for it"
          }
        },
        "autoDeleteSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delete the snapshot once this many seconds pass without a VM being\ncreated from it. Every create from it resets the clock. -1 (or\nomitting this) means never; some plans cap this, and on those omitting\nit (or sending -1) gets you the cap.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Delete the snapshot this many seconds after it is taken, whatever has\nbooted it since. -1 (or omitting this) means no deadline.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.snapshots#SnapshotCreated": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.freestyle.snapshots#Snapshot",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sourceVmId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.snapshots#SnapshotVm": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.snapshots#SnapshotVmRequest"
      },
      "output": {
        "target": "com.freestyle.snapshots#SnapshotCreated"
      },
      "errors": [
        {
          "target": "com.freestyle.snapshots#NotFound"
        },
        {
          "target": "com.freestyle.snapshots#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/vms/{vmIdOrSlug}/snapshot",
          "code": 200
        },
        "smithy.api#documentation": "Capture the VM's exact state, memory and disk, so a VM booted from it resumes exactly where this one was. The VM must be running or paused. New snapshots are private, and this call returns after the snapshot is fully materialized."
      }
    },
    "com.freestyle.snapshots#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.freestyle.snapshots#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.freestyle.snapshots#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.freestyle.snapshots#Snapshots": {
      "type": "service",
      "version": "0.1.0",
      "operations": [
        {
          "target": "com.freestyle.snapshots#ListSnapshots"
        },
        {
          "target": "com.freestyle.snapshots#GetSnapshot"
        },
        {
          "target": "com.freestyle.snapshots#UpdateSnapshot"
        },
        {
          "target": "com.freestyle.snapshots#DeleteSnapshot"
        },
        {
          "target": "com.freestyle.snapshots#SnapshotVm"
        }
      ],
      "traits": {
        "smithy.api#title": "Freestyle",
        "smithy.api#documentation": "# Powerful Virtual Machines\n\nDocumentation: [freestyle.sh/docs](https://freestyle.sh/docs)\n\nFreestyle VMs are full Linux virtual machines designed for long running, complex tasks.\n\n## Key Features\n\n- **Instant Startup**: Freestyle VMs provision in milliseconds, with p99s under 400ms.\n- **Persistence**: Freestyle VMs can run forever, they can be hibernated with their exact memory in place and come back to life weeks later instantly, in that exact state.\n- **Powerful**: Freestyle VMs go up to 64GB of RAM for public tiers and much further for enterprise. Freestyle does high quality hardware virtualization supporting nested virtualization, FUSE, eBPF, full Linux networking and more. If it can run in an EC2, it can run in a Freestyle VM.\n- **Cheaply Snapshottable and Branchable**: Freestyle VMs are instantly and cheaply snapshottable (sub 1ms interruption, sub 50ms to snapshot ready). These snapshots can be used to create new VMs in the exact state of the original VM (memory and disk). This enables powerful workflows like branching, cloning, and rapid recovery from failures.\n\n## When to use Freestyle\n\n- **Long Running Agent Tasks**: When you have tasks that take hours, days, weeks or months to run, Freestyle VMs provide a persistent and powerful environment that your agent can work in to completion.\n- **Failure Prone/Experimental Exploration**: When your tasks involve branching, cloning or need time travel Freestyle VMs are ideal because of their cheap snapshottability and power that makes them great for experiments.\n- **Complex Coding Problems**: When you are tackling advanced coding problems in research or production codebases, poor virtualization and small sandboxes will not cut it. Freestyle VMs provide the necessary resources and environment to handle these challenges effectively.\n- **Multi Tenant Usage Patterns**: Freestyle VMs are intentionally built to be used by agent builders with multiple customers. The slug system allows for keying VMs by their user, the identity system allows for granular acccess control and permissioning, and the VPC system allows for multi-tenant network isolation. \n\n## When not to use it\n\n- **\"Run AI Code\"**: If your exclusively executing short lived Python scripts or other ephemeral tasks the benefits above aren't relevant. Freestyle VMs should still be benchmarked but there may be alternatives better suited.\n- **CPU Intensive CI/CD**: Freestyle VMs run on bare metal on data center CPUs. We also oversubscribe host resources. For workloads that require sustained high CPU usage like building the Linux Kernel or mining crypto prefer cloud providers that offer consumer CPU performance.\n- **Short Lived Tasks**: If your tasks are extremely short lived and do not benefit from persistence or powerful hardware. If your average task takes less than 15 minutes to complete then they are likely cheaply retryable and don't require the reliability and persistence that Freestyle VMs provide.\n- **Sole Application Hosting**: Freestyle VMs are designed as workbenches for development, experimentation and task execution. Not for hosting production applications. Hosting a minecraft server for some friends will work great on Freestyle, but we do not offer autoscaling, load balancers or CDNs and we don't plan to.\n\n## Emerging Use Cases\n\n- **RL Environments**: Freestyle VMs are well-suited for running reinforcement learning environments that require persistent state and complex setups. The ability to snapshot and branch VMs allows researchers to experiment with different strategies and record environment states efficiently.\n- **Auto Research Climbing**: Freestyle VMs are great for auto research as the snapshotting and fan out allows research agents to explore multiple strategies, review past results and iterate efficiently without ever losing progress.\n- **Environments for Development, Testing, Security and Pentesting**: Freestyle VMs are the only sandbox provider that offers full private VPC and networking which allows simulating full applications in production like staging environments. This can be used for testing, iteration, security assesments and penetration testing in a controlled and isolated environment.\n- **Connecting Agents to Production VPCs**: Freestyle VMs VPC system allows for connections to private production VPCs through secure Wireguard tunnels. If you want sandboxed agents to work on your/your users production infrastructure and they have requirements about not going through the public internet, Freestyle VMs provide a secure and compliant solution.\n\n## Private Offers (Enterprise)\n\n- **GPU Sandboxes**: Freestyle offers private GPU sandboxes for enterprise customers, providing direct access to frontier GPU hardware for high performance computing, machine learning and generally the above **Emerging Use Cases**.\n- **Colocated Bare Metal**: For users wanting sandboxes that work with especially weird requirements Freestyle can offer space in our racks for your dedicated bare metal servers. This can be useful for custom GPUs, video processing, or any other specialized hardware needs.\n- **Custom Pricing**: Freestyle can offer spot access, CPU Time billing, node based pricing and more. These deals can be tailored to the specific needs and usage patterns of enterprise customers.\n- **Custom Sandboxing**: Freestyle builds and maintains its own custom virtualization solutions which allows us to virtualize and sandbox workloads in ways that are not possible with standard options. This enables highly specialized and optimized environments for enterprise customers.\n- **Dedicated Support**: Enterprise customers can receive dedicated support from the Freestyle team, ensuring that any issues or custom requirements are addressed promptly and effectively.\n\nFor more information on Enterprise offerings contact our [sales team](https://cal.com/freestyle/enterprise-onboarding?overlayCalendar=true)\n\n### Relevant Links\n\n- [Freestyle Documentation](https://freestyle.sh/docs)\n- [Freestyle Dashboard](https://dash.freestyle.sh) — manage your account and API keys.\n\nAI agents can create their own API key with `npx -y freestyle@latest tokens create \"agent work\" --output json` using an existing CLI login. Run `npx -y freestyle@latest login` first if needed, then use the returned `token` as `FREESTYLE_API_KEY`."
      }
    }
  }
}
