{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.freestyle.tunnels#ListTunnelsResponse": {
      "type": "structure",
      "members": {
        "totalCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tunnels": {
          "target": "com.freestyle.tunnels#ListTunnelsResponseTunnelsList",
          "traits": {
            "smithy.api#documentation": "Newest first. Listings never carry a private key; the config returned\nhere has `PrivateKey` blanked.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.freestyle.tunnels#Tunnel": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.freestyle.tunnels#TunnelAttachmentsList",
          "traits": {
            "smithy.api#documentation": "The private networks on the far side, oldest attachment first.",
            "smithy.api#required": {}
          }
        },
        "clientAddressV4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your fixed addresses inside the tunnel. Only the gateway ever sees\nthem: each attached network sees an address inside its own subnet\ninstead (`attachments[].address`).",
            "smithy.api#required": {}
          }
        },
        "clientAddressV6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A complete WireGuard config file, fixed for the life of the tunnel:\nattaching and detaching networks never changes it, so bring it up once\nand manage what it reaches through the API. `PrivateKey` is blank\nexcept on create and rotate-key, the only two responses that mint a\nkeypair.",
            "smithy.api#required": {}
          }
        },
        "clientPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your label for this tunnel, if you gave it one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host to dial.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: the tunnel's id under its old name. Read `tunnelId`.",
            "smithy.api#required": {}
          }
        },
        "routes": {
          "target": "com.freestyle.tunnels#TunnelRoutesList",
          "traits": {
            "smithy.api#documentation": "The ranges your client routes through the tunnel — its `AllowedIPs`,\nfixed at create. A network can only be attached if its CIDRs fall\ninside these.",
            "smithy.api#required": {}
          }
        },
        "serverPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one `[Peer]` public key in your config.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your handle for this tunnel, if you gave it one. Usable anywhere the id\nis, in place of it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tunnelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tunnel's id, under the name the rest of the API uses for it — a\nfirewall rule says `tunnelId`, so the tunnel does too.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tunnel: your WireGuard identity on the platform. It exists until you\ndelete it: connect, disconnect and reconnect as often as you like — a\nsession is set up on the handshake that needs it, so an idle tunnel costs\nnothing and never expires. A tunnel routes nowhere until you attach a\nprivate network to it; attach several and one WireGuard interface reaches\nthem all."
      }
    },
    "com.freestyle.tunnels#TunnelAttachment": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: the primary address, whichever family. Read `ipv4`/`ipv6`.",
            "smithy.api#required": {}
          }
        },
        "allowedIps": {
          "target": "com.freestyle.tunnels#TunnelAttachmentAllowedIpsList",
          "traits": {
            "smithy.api#documentation": "The CIDRs the gateway routes to this network.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this attachment is a network exit: your client forwards for\ndestinations that are not its own address, and members route through\nit with an ordinary route via the attachment's address. Omitted when\nfalse."
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IPv4 address inside the private network, absent on a v6-only\nattachment. It belongs to this tunnel for as long as the network stays\nattached, so you can write it into configs and rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your IPv6 address inside the private network, under the same rules.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remoteCidrs": {
          "target": "com.freestyle.tunnels#TunnelAttachmentRemoteCidrsList",
          "traits": {
            "smithy.api#documentation": "Ranges behind your client that this network routes through the tunnel\n(a site-to-site grant). VMs reach them with an ordinary route via\n`address`. Omitted when the attachment has none."
          }
        },
        "secondaryAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: the second-family address. Read `ipv4`/`ipv6`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vpcCidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vpcId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One private network on the far side of a tunnel: the network, your address\ninside it, and the `[Peer]` key that carries it."
      }
    },
    "com.freestyle.tunnels#TunnelAttachmentAllowedIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The CIDRs the gateway routes to this network."
      }
    },
    "com.freestyle.tunnels#TunnelAttachmentRemoteCidrsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ranges behind your client that this network routes through the tunnel\n(a site-to-site grant). VMs reach them with an ordinary route via\n`address`. Omitted when the attachment has none."
      }
    },
    "com.freestyle.tunnels#TunnelAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.tunnels#TunnelAttachment"
      },
      "traits": {
        "smithy.api#documentation": "The private networks on the far side, oldest attachment first."
      }
    },
    "com.freestyle.tunnels#TunnelRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The ranges your client routes through the tunnel — its `AllowedIPs`,\nfixed at create. A network can only be attached if its CIDRs fall\ninside these."
      }
    },
    "com.freestyle.tunnels#ListTunnelsResponseTunnelsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.tunnels#Tunnel"
      },
      "traits": {
        "smithy.api#documentation": "Newest first. Listings never carry a private key; the config returned\nhere has `PrivateKey` blanked."
      }
    },
    "com.freestyle.tunnels#ListTunnels": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.freestyle.tunnels#ListTunnelsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/tunnels",
          "code": 200
        },
        "smithy.api#documentation": "List your tunnels, newest first. Listings never include a private key: one is returned only by create and rotate-key."
      }
    },
    "com.freestyle.tunnels#CreateTunnelRequestRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The ranges your client will route through the tunnel — its\n`AllowedIPs`, fixed for the tunnel's life so attaching and detaching\nnetworks never changes your config. Omit for the default\n(`10.0.0.0/8` and `fd00::/8`), which covers every network with\ndefault addressing. Only networks whose CIDRs fall inside the routes\ncan be attached."
      }
    },
    "com.freestyle.tunnels#CreateTunnelVpc": {
      "type": "structure",
      "members": {
        "exit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "See the attach request's `exit`."
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address you want inside it; omit to be assigned one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An explicit IPv6 address instead; only one may be set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remoteCidrs": {
          "target": "com.freestyle.tunnels#CreateTunnelVpcRemoteCidrsList",
          "traits": {
            "smithy.api#documentation": "Ranges behind your client this network may route to; see the attach\nrequest's `remoteCidrs`."
          }
        },
        "vpc": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network to attach: a VPC id, or your slug for it. Also accepted as\n`vpcId`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One network named at create, with the same address choices as an attach."
      }
    },
    "com.freestyle.tunnels#CreateTunnelVpcRemoteCidrsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ranges behind your client this network may route to; see the attach\nrequest's `remoteCidrs`."
      }
    },
    "com.freestyle.tunnels#CreateTunnelRequestVpcsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.tunnels#CreateTunnelVpc"
      },
      "traits": {
        "smithy.api#documentation": "Networks to attach in the same call, so one request yields a tunnel\nthat already routes somewhere. All-or-nothing: if any attachment is\nrefused, nothing is created."
      }
    },
    "com.freestyle.tunnels#CreateTunnelRequest": {
      "type": "structure",
      "members": {
        "clientPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public key of a keypair you already hold. Omit to have one minted\nfor you; supply it and the platform never sees a private key at all.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A free-form label, for telling several tunnels apart.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "routes": {
          "target": "com.freestyle.tunnels#CreateTunnelRequestRoutesList",
          "traits": {
            "smithy.api#documentation": "The ranges your client will route through the tunnel — its\n`AllowedIPs`, fixed for the tunnel's life so attaching and detaching\nnetworks never changes your config. Omit for the default\n(`10.0.0.0/8` and `fd00::/8`), which covers every network with\ndefault addressing. Only networks whose CIDRs fall inside the routes\ncan be attached.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL-safe handle, unique within your account: 1–63 chars of\n`[a-z0-9-]`, no leading, trailing, or repeated hyphens. Address the\ntunnel by it instead of by id.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "vpcs": {
          "target": "com.freestyle.tunnels#CreateTunnelRequestVpcsList",
          "traits": {
            "smithy.api#documentation": "Networks to attach in the same call, so one request yields a tunnel\nthat already routes somewhere. All-or-nothing: if any attachment is\nrefused, nothing is created."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#CreateTunnelResponseAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.tunnels#TunnelAttachment"
      },
      "traits": {
        "smithy.api#documentation": "The private networks on the far side, oldest attachment first."
      }
    },
    "com.freestyle.tunnels#CreateTunnelResponseRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The ranges your client routes through the tunnel — its `AllowedIPs`,\nfixed at create. A network can only be attached if its CIDRs fall\ninside these."
      }
    },
    "com.freestyle.tunnels#CreateTunnelResponse": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.freestyle.tunnels#CreateTunnelResponseAttachmentsList",
          "traits": {
            "smithy.api#documentation": "The private networks on the far side, oldest attachment first.",
            "smithy.api#required": {}
          }
        },
        "clientAddressV4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your fixed addresses inside the tunnel. Only the gateway ever sees\nthem: each attached network sees an address inside its own subnet\ninstead (`attachments[].address`).",
            "smithy.api#required": {}
          }
        },
        "clientAddressV6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A complete WireGuard config file, fixed for the life of the tunnel:\nattaching and detaching networks never changes it, so bring it up once\nand manage what it reaches through the API. `PrivateKey` is blank\nexcept on create and rotate-key, the only two responses that mint a\nkeypair.",
            "smithy.api#required": {}
          }
        },
        "clientPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your label for this tunnel, if you gave it one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host to dial.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: the tunnel's id under its old name. Read `tunnelId`.",
            "smithy.api#required": {}
          }
        },
        "routes": {
          "target": "com.freestyle.tunnels#CreateTunnelResponseRoutesList",
          "traits": {
            "smithy.api#documentation": "The ranges your client routes through the tunnel — its `AllowedIPs`,\nfixed at create. A network can only be attached if its CIDRs fall\ninside these.",
            "smithy.api#required": {}
          }
        },
        "serverPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one `[Peer]` public key in your config.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your handle for this tunnel, if you gave it one. Usable anywhere the id\nis, in place of it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tunnelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tunnel's id, under the name the rest of the API uses for it — a\nfirewall rule says `tunnelId`, so the tunnel does too.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientPrivateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returned once. Already embedded in `clientConfig`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.freestyle.tunnels#CreateTunnel": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#CreateTunnelRequest"
      },
      "output": {
        "target": "com.freestyle.tunnels#CreateTunnelResponse"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#BadRequest"
        },
        {
          "target": "com.freestyle.tunnels#NotFound"
        },
        {
          "target": "com.freestyle.tunnels#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/tunnels",
          "code": 200
        },
        "smithy.api#documentation": "Create a tunnel, optionally attaching networks in the same call (`vpcs`, all-or-nothing). It lives until you delete it, and its config never changes: save it, bring it up once, and manage which networks it reaches by attaching and detaching them — no config updates, ever. Omit `clientPublicKey` and a keypair is minted for you — the response carries the only copy of the private key you will get."
      }
    },
    "com.freestyle.tunnels#GetTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Tunnel id, or your slug for it"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#GetTunnel": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#GetTunnelRequest"
      },
      "output": {
        "target": "com.freestyle.tunnels#Tunnel"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/tunnels/{tunnelIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Read one tunnel, with its attached networks. The config comes back with a blank `PrivateKey`; fill in the key you saved at create, or rotate to mint a new one."
      }
    },
    "com.freestyle.tunnels#UpdateTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Tunnel id, or your slug for it"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An empty string clears it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An empty string clears it.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#UpdateTunnel": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#UpdateTunnelRequest"
      },
      "output": {
        "target": "com.freestyle.tunnels#Tunnel"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#BadRequest"
        },
        {
          "target": "com.freestyle.tunnels#NotFound"
        },
        {
          "target": "com.freestyle.tunnels#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v5/tunnels/{tunnelIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Rename a tunnel or change its slug. Only the labels move: the keys, addresses, routes and attached networks are untouched, so a connected client sees nothing change and the config you saved keeps working."
      }
    },
    "com.freestyle.tunnels#DeleteTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Tunnel id, or your slug for it"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#DeleteTunnel": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#DeleteTunnelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/tunnels/{tunnelIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a tunnel, detaching every network as it goes. This is the only thing that ends one."
      }
    },
    "com.freestyle.tunnels#RotateTunnelKeyRequest": {
      "type": "structure",
      "members": {
        "tunnelIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Tunnel id, or your slug for it"
          }
        },
        "clientPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The public key of a keypair you already hold. Omit to have a fresh one\nminted for you.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#RotateTunnelKeyResponseAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.freestyle.tunnels#TunnelAttachment"
      },
      "traits": {
        "smithy.api#documentation": "The private networks on the far side, oldest attachment first."
      }
    },
    "com.freestyle.tunnels#RotateTunnelKeyResponseRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The ranges your client routes through the tunnel — its `AllowedIPs`,\nfixed at create. A network can only be attached if its CIDRs fall\ninside these."
      }
    },
    "com.freestyle.tunnels#RotateTunnelKeyResponse": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.freestyle.tunnels#RotateTunnelKeyResponseAttachmentsList",
          "traits": {
            "smithy.api#documentation": "The private networks on the far side, oldest attachment first.",
            "smithy.api#required": {}
          }
        },
        "clientAddressV4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your fixed addresses inside the tunnel. Only the gateway ever sees\nthem: each attached network sees an address inside its own subnet\ninstead (`attachments[].address`).",
            "smithy.api#required": {}
          }
        },
        "clientAddressV6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientConfig": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A complete WireGuard config file, fixed for the life of the tunnel:\nattaching and detaching networks never changes it, so bring it up once\nand manage what it reaches through the API. `PrivateKey` is blank\nexcept on create and rotate-key, the only two responses that mint a\nkeypair.",
            "smithy.api#required": {}
          }
        },
        "clientPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your label for this tunnel, if you gave it one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Host to dial.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "endpointPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated: the tunnel's id under its old name. Read `tunnelId`.",
            "smithy.api#required": {}
          }
        },
        "routes": {
          "target": "com.freestyle.tunnels#RotateTunnelKeyResponseRoutesList",
          "traits": {
            "smithy.api#documentation": "The ranges your client routes through the tunnel — its `AllowedIPs`,\nfixed at create. A network can only be attached if its CIDRs fall\ninside these.",
            "smithy.api#required": {}
          }
        },
        "serverPublicKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The one `[Peer]` public key in your config.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Your handle for this tunnel, if you gave it one. Usable anywhere the id\nis, in place of it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "tunnelId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tunnel's id, under the name the rest of the API uses for it — a\nfirewall rule says `tunnelId`, so the tunnel does too.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientPrivateKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Returned once. Already embedded in `clientConfig`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.freestyle.tunnels#RotateTunnelKey": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#RotateTunnelKeyRequest"
      },
      "output": {
        "target": "com.freestyle.tunnels#RotateTunnelKeyResponse"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#BadRequest"
        },
        {
          "target": "com.freestyle.tunnels#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/tunnels/{tunnelIdOrSlug}/rotate-key",
          "code": 200
        },
        "smithy.api#documentation": "Replace a tunnel's keys, keeping its id and every attached network's address. Use this if you lost the config or need to revoke one that leaked: the old keys stop working, and the response carries the only copy of the new private key you will get."
      }
    },
    "com.freestyle.tunnels#AttachVpcToTunnelRequestRemoteCidrsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Ranges behind your client that this network routes through the tunnel —\na site-to-site setup where your client machine forwards for other hosts\non its side. Hosts inside these ranges keep their real addresses inside\nthe network. A range carved out of the network's own CIDR just works:\nVMs reach it with no configuration, and the range is excluded from VM\naddress allocation (it must be free when granted). A range outside the\nnetwork's CIDRs is reached by giving VMs a route via the attachment's\n`address`. A range may not straddle the network's CIDR boundary, nor\noverlap a range another tunnel already grants this network."
      }
    },
    "com.freestyle.tunnels#AttachVpcToTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Tunnel id, or your slug for it"
          }
        },
        "vpcIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VPC id, or your slug for it"
          }
        },
        "exit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Make your client this network's exit — a router members can name as a\nnext hop. A VM routes through it with an ordinary NIC route via the\nattachment's address, and everything it sends the exit — whatever the\ndestination — is forwarded to your client, which is expected to NAT it\nonward. Several attachments per network may be exits: members choose\nper route, so two exits and two same-metric routes are a redundant\npair, and a dead exit stops being ARP-answered so the other takes\nover by itself."
          }
        },
        "ipv4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The address you want inside the private network. Omit to be assigned\none. It must be free: a VM already holding it makes this a conflict,\nand once yours, no VM can be given it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipv6": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An explicit IPv6 address, equivalent to passing one in `ipv4`; only one\nmay be set.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remoteCidrs": {
          "target": "com.freestyle.tunnels#AttachVpcToTunnelRequestRemoteCidrsList",
          "traits": {
            "smithy.api#documentation": "Ranges behind your client that this network routes through the tunnel —\na site-to-site setup where your client machine forwards for other hosts\non its side. Hosts inside these ranges keep their real addresses inside\nthe network. A range carved out of the network's own CIDR just works:\nVMs reach it with no configuration, and the range is excluded from VM\naddress allocation (it must be free when granted). A range outside the\nnetwork's CIDRs is reached by giving VMs a route via the attachment's\n`address`. A range may not straddle the network's CIDR boundary, nor\noverlap a range another tunnel already grants this network."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#AttachVpcToTunnel": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#AttachVpcToTunnelRequest"
      },
      "output": {
        "target": "com.freestyle.tunnels#Tunnel"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#BadRequest"
        },
        {
          "target": "com.freestyle.tunnels#NotFound"
        },
        {
          "target": "com.freestyle.tunnels#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v5/tunnels/{tunnelIdOrSlug}/vpcs/{vpcIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Attach a private network to a tunnel. The tunnel gains an address inside the network — what that network's VMs see as your address — and a connected client can reach the network immediately, with no config change. Omit `ipv4` and an address is assigned; supply one to pin it. The network's CIDRs must fall inside the tunnel's routes and must not overlap another attached network's."
      }
    },
    "com.freestyle.tunnels#DetachVpcFromTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Tunnel id, or your slug for it"
          }
        },
        "vpcIdOrSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "VPC id, or your slug for it"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.freestyle.tunnels#DetachVpcFromTunnel": {
      "type": "operation",
      "input": {
        "target": "com.freestyle.tunnels#DetachVpcFromTunnelRequest"
      },
      "output": {
        "target": "com.freestyle.tunnels#Tunnel"
      },
      "errors": [
        {
          "target": "com.freestyle.tunnels#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v5/tunnels/{tunnelIdOrSlug}/vpcs/{vpcIdOrSlug}",
          "code": 200
        },
        "smithy.api#documentation": "Detach a private network from a tunnel: it stops being reachable and the tunnel's address inside it is released. The tunnel — and any connected client — carries on untouched."
      }
    },
    "com.freestyle.tunnels#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.freestyle.tunnels#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.freestyle.tunnels#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.freestyle.tunnels#Tunnels": {
      "type": "service",
      "version": "0.1.0",
      "operations": [
        {
          "target": "com.freestyle.tunnels#ListTunnels"
        },
        {
          "target": "com.freestyle.tunnels#CreateTunnel"
        },
        {
          "target": "com.freestyle.tunnels#GetTunnel"
        },
        {
          "target": "com.freestyle.tunnels#UpdateTunnel"
        },
        {
          "target": "com.freestyle.tunnels#DeleteTunnel"
        },
        {
          "target": "com.freestyle.tunnels#RotateTunnelKey"
        },
        {
          "target": "com.freestyle.tunnels#AttachVpcToTunnel"
        },
        {
          "target": "com.freestyle.tunnels#DetachVpcFromTunnel"
        }
      ],
      "traits": {
        "smithy.api#title": "Freestyle",
        "smithy.api#documentation": "# Powerful Virtual Machines\n\nDocumentation: [freestyle.sh/docs](https://freestyle.sh/docs)\n\nFreestyle VMs are full Linux virtual machines designed for long running, complex tasks.\n\n## Key Features\n\n- **Instant Startup**: Freestyle VMs provision in milliseconds, with p99s under 400ms.\n- **Persistence**: Freestyle VMs can run forever, they can be hibernated with their exact memory in place and come back to life weeks later instantly, in that exact state.\n- **Powerful**: Freestyle VMs go up to 64GB of RAM for public tiers and much further for enterprise. Freestyle does high quality hardware virtualization supporting nested virtualization, FUSE, eBPF, full Linux networking and more. If it can run in an EC2, it can run in a Freestyle VM.\n- **Cheaply Snapshottable and Branchable**: Freestyle VMs are instantly and cheaply snapshottable (sub 1ms interruption, sub 50ms to snapshot ready). These snapshots can be used to create new VMs in the exact state of the original VM (memory and disk). This enables powerful workflows like branching, cloning, and rapid recovery from failures.\n\n## When to use Freestyle\n\n- **Long Running Agent Tasks**: When you have tasks that take hours, days, weeks or months to run, Freestyle VMs provide a persistent and powerful environment that your agent can work in to completion.\n- **Failure Prone/Experimental Exploration**: When your tasks involve branching, cloning or need time travel Freestyle VMs are ideal because of their cheap snapshottability and power that makes them great for experiments.\n- **Complex Coding Problems**: When you are tackling advanced coding problems in research or production codebases, poor virtualization and small sandboxes will not cut it. Freestyle VMs provide the necessary resources and environment to handle these challenges effectively.\n- **Multi Tenant Usage Patterns**: Freestyle VMs are intentionally built to be used by agent builders with multiple customers. The slug system allows for keying VMs by their user, the identity system allows for granular acccess control and permissioning, and the VPC system allows for multi-tenant network isolation. \n\n## When not to use it\n\n- **\"Run AI Code\"**: If your exclusively executing short lived Python scripts or other ephemeral tasks the benefits above aren't relevant. Freestyle VMs should still be benchmarked but there may be alternatives better suited.\n- **CPU Intensive CI/CD**: Freestyle VMs run on bare metal on data center CPUs. We also oversubscribe host resources. For workloads that require sustained high CPU usage like building the Linux Kernel or mining crypto prefer cloud providers that offer consumer CPU performance.\n- **Short Lived Tasks**: If your tasks are extremely short lived and do not benefit from persistence or powerful hardware. If your average task takes less than 15 minutes to complete then they are likely cheaply retryable and don't require the reliability and persistence that Freestyle VMs provide.\n- **Sole Application Hosting**: Freestyle VMs are designed as workbenches for development, experimentation and task execution. Not for hosting production applications. Hosting a minecraft server for some friends will work great on Freestyle, but we do not offer autoscaling, load balancers or CDNs and we don't plan to.\n\n## Emerging Use Cases\n\n- **RL Environments**: Freestyle VMs are well-suited for running reinforcement learning environments that require persistent state and complex setups. The ability to snapshot and branch VMs allows researchers to experiment with different strategies and record environment states efficiently.\n- **Auto Research Climbing**: Freestyle VMs are great for auto research as the snapshotting and fan out allows research agents to explore multiple strategies, review past results and iterate efficiently without ever losing progress.\n- **Environments for Development, Testing, Security and Pentesting**: Freestyle VMs are the only sandbox provider that offers full private VPC and networking which allows simulating full applications in production like staging environments. This can be used for testing, iteration, security assesments and penetration testing in a controlled and isolated environment.\n- **Connecting Agents to Production VPCs**: Freestyle VMs VPC system allows for connections to private production VPCs through secure Wireguard tunnels. If you want sandboxed agents to work on your/your users production infrastructure and they have requirements about not going through the public internet, Freestyle VMs provide a secure and compliant solution.\n\n## Private Offers (Enterprise)\n\n- **GPU Sandboxes**: Freestyle offers private GPU sandboxes for enterprise customers, providing direct access to frontier GPU hardware for high performance computing, machine learning and generally the above **Emerging Use Cases**.\n- **Colocated Bare Metal**: For users wanting sandboxes that work with especially weird requirements Freestyle can offer space in our racks for your dedicated bare metal servers. This can be useful for custom GPUs, video processing, or any other specialized hardware needs.\n- **Custom Pricing**: Freestyle can offer spot access, CPU Time billing, node based pricing and more. These deals can be tailored to the specific needs and usage patterns of enterprise customers.\n- **Custom Sandboxing**: Freestyle builds and maintains its own custom virtualization solutions which allows us to virtualize and sandbox workloads in ways that are not possible with standard options. This enables highly specialized and optimized environments for enterprise customers.\n- **Dedicated Support**: Enterprise customers can receive dedicated support from the Freestyle team, ensuring that any issues or custom requirements are addressed promptly and effectively.\n\nFor more information on Enterprise offerings contact our [sales team](https://cal.com/freestyle/enterprise-onboarding?overlayCalendar=true)\n\n### Relevant Links\n\n- [Freestyle Documentation](https://freestyle.sh/docs)\n- [Freestyle Dashboard](https://dash.freestyle.sh) — manage your account and API keys.\n\nAI agents can create their own API key with `npx -y freestyle@latest tokens create \"agent work\" --output json` using an existing CLI login. Run `npx -y freestyle@latest login` first if needed, then use the returned `token` as `FREESTYLE_API_KEY`."
      }
    }
  }
}
