{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.metabase.api#GetActionRequest": {
      "type": "structure",
      "members": {
        "model_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "model-id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.metabase.api#GetAction": {
      "type": "operation",
      "input": {
        "target": "com.metabase.api#GetActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/action",
          "code": 200
        },
        "smithy.api#documentation": "GET /api/action\n\nReturns actions that can be used for QueryActions. By default lists all viewable actions. Pass optional\n  `?model-id=<model-id>` to limit to actions on a particular model."
      }
    },
    "com.metabase.api#MetabaseActionsSchemaActionForInsert": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.metabase.api#MetabaseActionsSchemaActionForInsertCase0"
        },
        "Case1": {
          "target": "com.metabase.api#MetabaseActionsSchemaActionForInsertCase1"
        },
        "Case2": {
          "target": "com.metabase.api#MetabaseActionsSchemaActionForInsertCase2"
        },
        "Case3": {
          "target": "com.metabase.api#MetabaseActionsSchemaActionForInsertCase3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for inserting a new Action (REST API or internally)."
      }
    },
    "com.metabase.api#MetabaseParametersSchemaParameterMappings": {
      "type": "list",
      "member": {
        "target": "com.metabase.api#MetabaseParametersSchemaParameterMapping"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameterMapping": {
      "type": "structure",
      "members": {
        "card_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashcard": {
          "target": "smithy.api#Document"
        },
        "parameter_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterTarget",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "parameter_mapping must be a map with :parameter_id and :target keys"
      }
    },
    "com.metabase.api#MetabaseLibSchemaParameterTarget": {
      "type": "union",
      "members": {
        "MetabaseLibSchemaParameterDimension": {
          "target": "smithy.api#Document"
        },
        "MetabaseLibSchemaParameterVariable": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterVariable"
        },
        "MetabaseLibSchemaParameterTextTag": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterTextTag"
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaParameterVariable": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaParameterTextTag": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A :text-tag parameter :target applies to parameterized text cards in viz settings"
      }
    },
    "com.metabase.api#MetabaseActionsSchemaType": {
      "type": "enum",
      "members": {
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        },
        "IMPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "implicit"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unsupported action type"
      }
    },
    "com.metabase.api#MetabaseActionsSchemaHttpActionTemplate": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "headers": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "method": {
          "target": "com.metabase.api#MetabaseActionsSchemaHttpActionTemplateMethod",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseActionsSchemaHttpActionTemplateMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameters": {
      "type": "list",
      "member": {
        "target": "com.metabase.api#MetabaseParametersSchemaParameter"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameter": {
      "type": "structure",
      "members": {
        "filteringParameters": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterFilteringParametersList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mappings": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterMappings2",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sectionId": {
          "target": "smithy.api#String"
        },
        "values_source_config": {
          "target": "com.metabase.api#MetabaseParametersSchemaValuesSourceConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterParameterValue"
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "values_query_type": {
          "target": "com.metabase.api#MetabaseParametersSchemaValuesQueryType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "temporal_units": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterTemporalUnitsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterTarget"
        },
        "values_source_type": {
          "target": "com.metabase.api#MetabaseParametersSchemaValuesSourceType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "options": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterParameterOptions",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterParameterValue"
        },
        "isMultiSelect": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "parameter must be a map with :id and :type keys"
      }
    },
    "com.metabase.api#MetabaseParametersSchemaParameterFilteringParametersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameterMappingsCase0List": {
      "type": "list",
      "member": {
        "target": "com.metabase.api#MetabaseParametersSchemaParameterMapping"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameterMappingsCase1List": {
      "type": "list",
      "member": {
        "target": "com.metabase.api#MetabaseParametersSchemaParameterMapping"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameterMappings2": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterMappingsCase0List"
        },
        "Case1": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterMappingsCase1List"
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaValuesSourceConfig": {
      "type": "structure",
      "members": {
        "card_id": {
          "target": "smithy.api#Integer"
        },
        "label_field": {
          "target": "smithy.api#Document"
        },
        "value_field": {
          "target": "smithy.api#Document"
        },
        "values": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for valid source_options within a Parameter"
      }
    },
    "com.metabase.api#MetabaseLibSchemaParameterParameterValue": {
      "type": "union",
      "members": {
        "MetabaseLibSchemaParameterParameterValueScalar": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterParameterValueCase1List"
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaParameterParameterValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaValuesQueryType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaParameterType": {
      "type": "enum",
      "members": {
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "DATE_SINGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date/single"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id"
          }
        },
        "CATEGORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "category"
          }
        },
        "LOCATION_CITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location/city"
          }
        },
        "LOCATION_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location/state"
          }
        },
        "LOCATION_ZIP_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location/zip_code"
          }
        },
        "LOCATION_COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "location/country"
          }
        },
        "DATE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date/range"
          }
        },
        "DATE_MONTH_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date/month-year"
          }
        },
        "DATE_QUARTER_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date/quarter-year"
          }
        },
        "DATE_RELATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date/relative"
          }
        },
        "DATE_ALL_OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date/all-options"
          }
        },
        "TEMPORAL_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "temporal-unit"
          }
        },
        "NUMBER_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number/!="
          }
        },
        "NUMBER_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number/<="
          }
        },
        "NUMBER_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number/="
          }
        },
        "NUMBER_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number/>="
          }
        },
        "NUMBER_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number/between"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string/!="
          }
        },
        "STRING_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string/="
          }
        },
        "STRING_CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string/contains"
          }
        },
        "STRING_DOES_NOT_CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string/does-not-contain"
          }
        },
        "STRING_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string/ends-with"
          }
        },
        "STRING_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "string/starts-with"
          }
        },
        "BOOLEAN_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean/="
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Valid parameter :type"
      }
    },
    "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "DAY_OF_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day-of-month"
          }
        },
        "DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day-of-week"
          }
        },
        "DAY_OF_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day-of-year"
          }
        },
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "HOUR_OF_DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour-of-day"
          }
        },
        "MILLISECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "millisecond"
          }
        },
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "MINUTE_OF_HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute-of-hour"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "MONTH_OF_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month-of-year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "QUARTER_OF_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter-of-year"
          }
        },
        "SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second"
          }
        },
        "SECOND_OF_MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "second-of-minute"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "WEEK_OF_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week-of-year"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "YEAR_OF_ERA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year-of-era"
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaParameterTemporalUnitsList": {
      "type": "list",
      "member": {
        "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseParametersSchemaValuesSourceType": {
      "type": "enum",
      "members": {
        "STATIC_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static-list"
          }
        },
        "CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card"
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaParameterParameterOptions": {
      "type": "structure",
      "members": {
        "case_sensitive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "case-sensitive"
          }
        },
        "include_current": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "include-current"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options the frontend attaches to a parameter value."
      }
    },
    "com.metabase.api#MetabaseActionsSchemaActionForInsertCase0": {
      "type": "structure",
      "members": {
        "visualization_settings": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "response_handle": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameter_mappings": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterMappings",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "type": {
          "target": "com.metabase.api#MetabaseActionsSchemaType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "template": {
          "target": "com.metabase.api#MetabaseActionsSchemaHttpActionTemplate",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_handle": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "model_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseActionsSchemaImplicitActionKind": {
      "type": "enum",
      "members": {
        "ROW_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "row/create"
          }
        },
        "ROW_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "row/update"
          }
        },
        "ROW_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "row/delete"
          }
        },
        "BULK_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk/create"
          }
        },
        "BULK_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk/update"
          }
        },
        "BULK_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk/delete"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Unsupported implicit action kind"
      }
    },
    "com.metabase.api#MetabaseActionsSchemaActionForInsertCase1": {
      "type": "structure",
      "members": {
        "visualization_settings": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameter_mappings": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameterMappings",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "kind": {
          "target": "com.metabase.api#MetabaseActionsSchemaImplicitActionKind",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.metabase.api#MetabaseActionsSchemaType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.metabase.api#MetabaseParametersSchemaParameters",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibBeSchemaMaybeLegacyOrEmptyQuery": {
      "type": "union",
      "members": {
        "MetabaseLibBeSchemaEmptyQuery": {
          "target": "smithy.api#Document"
        },
        "MetabaseLibBeSchemaMaybeLegacyQuery": {
          "target": "com.metabase.api#MetabaseLibSchemaQuery"
        }
      },
      "traits": {
        "smithy.api#documentation": "value must be a valid MBQL query, or an empty query."
      }
    },
    "com.metabase.api#MetabaseLibSchemaQuery": {
      "type": "structure",
      "members": {
        "lib_metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "lib/metadata"
          }
        },
        "show_column_totals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "show-column-totals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pivot_rows": {
          "target": "com.metabase.api#MetabaseLibSchemaQueryPivotRowsList",
          "traits": {
            "smithy.api#jsonName": "pivot-rows",
            "com.distilled.openapi#nullable": {}
          }
        },
        "update_row": {
          "target": "com.metabase.api#MetabaseLibSchemaActionsRow",
          "traits": {
            "smithy.api#jsonName": "update-row"
          }
        },
        "lib_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "lib/type"
          }
        },
        "settings": {
          "target": "com.metabase.api#MetabaseLibSchemaSettingsSettings"
        },
        "constraints": {
          "target": "com.metabase.api#MetabaseLibSchemaConstraintsConstraints"
        },
        "info": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoInfo"
        },
        "show_row_totals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "show-row-totals",
            "com.distilled.openapi#nullable": {}
          }
        },
        "middleware": {
          "target": "com.metabase.api#MetabaseLibSchemaMiddlewareOptionsMiddlewareOptions"
        },
        "database": {
          "target": "com.metabase.api#MetabaseLibSchemaQueryDatabase"
        },
        "pivot_measures": {
          "target": "com.metabase.api#MetabaseLibSchemaQueryPivotMeasuresList",
          "traits": {
            "smithy.api#jsonName": "pivot-measures",
            "com.distilled.openapi#nullable": {}
          }
        },
        "stages": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pivot_cols": {
          "target": "com.metabase.api#MetabaseLibSchemaQueryPivotColsList",
          "traits": {
            "smithy.api#jsonName": "pivot-cols",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.metabase.api#MetabaseLibSchemaParameterParameters"
        },
        "create_row": {
          "target": "com.metabase.api#MetabaseLibSchemaActionsRow",
          "traits": {
            "smithy.api#jsonName": "create-row"
          }
        },
        "was_pivot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this query was originally run as a pivot query. Stamped into the saved `json_query` by\n  `metabase.query-processor.middleware.process-userland-query` and sent back by clients re-downloading pivot query\n  results.",
            "smithy.api#jsonName": "was-pivot",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaQueryPivotRowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaActionsRow": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaSettingsSettings": {
      "type": "structure",
      "members": {
        "include_sensitive_fields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to include fields with visibility_type :sensitive when fetching query metadata.",
            "smithy.api#jsonName": "include-sensitive-fields"
          }
        },
        "report_timezone": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The timezone the query should be ran in, overriding the default report timezone for the instance.",
            "smithy.api#jsonName": "report-timezone"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options that tweak the behavior of the query processor."
      }
    },
    "com.metabase.api#MetabaseLibSchemaConstraintsConstraints": {
      "type": "structure",
      "members": {
        "max_results": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to allow for a query with aggregations. If `max-results-bare-rows` is unset, this\n  applies to all queries",
            "smithy.api#jsonName": "max-results"
          }
        },
        "max_results_bare_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of results to allow for a query with no aggregations. If set, this should be LOWER than\n  `:max-results`.",
            "smithy.api#jsonName": "max-results-bare-rows"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional constraints added to a query limiting the maximum number of rows that can be returned. Mostly useful\n  because native queries don't support the MBQL `:limit` clause. For MBQL queries, if `:limit` is set, it will\n  override these values."
      }
    },
    "com.metabase.api#MetabaseLibSchemaInfoInfo": {
      "type": "structure",
      "members": {
        "query_hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "query-hash",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "action-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lens_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lens-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pivot_original_query": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoInfoPivotOriginalQueryMap",
          "traits": {
            "smithy.api#jsonName": "pivot/original-query",
            "com.distilled.openapi#nullable": {}
          }
        },
        "executed_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "executed-by",
            "com.distilled.openapi#nullable": {}
          }
        },
        "card_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "card-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pivot_result_metadata": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoInfoPivotResultMetadata",
          "traits": {
            "smithy.api#jsonName": "pivot/result-metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "transform_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "transform-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "context": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoContext",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "dashboard_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "dashboard-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lens_params": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoInfoLensParamsMap",
          "traits": {
            "smithy.api#jsonName": "lens-params",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata_model_metadata": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoInfoMetadataModelMetadataList",
          "traits": {
            "smithy.api#jsonName": "metadata/model-metadata",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pulse_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "pulse-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "card_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "card-name",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for query `:info` dictionary, which is used for informational purposes to record information about how a query\n  was executed in QueryExecution and other places. It is considered bad form for middleware to change its behavior\n  based on this information, don't do it!\n\n  TODO - this schema is somewhat misleading because if you use a function\n  like [[metabase.query-processor/userland-query]] some of these keys (e.g. `:context`) are in fact required"
      }
    },
    "com.metabase.api#MetabaseLibSchemaInfoInfoPivotOriginalQueryMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumn": {
      "type": "structure",
      "members": {
        "visibility_type": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnVisibilityType",
          "traits": {
            "smithy.api#jsonName": "visibility-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "fk-join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metabase_lib_metadata_result_metadata_field_ref": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "metabase.lib.metadata.result-metadata/field-ref",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_external_remap": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingExternal",
          "traits": {
            "smithy.api#jsonName": "lib/external-remap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inherited_temporal_unit": {
          "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit",
          "traits": {
            "smithy.api#jsonName": "inherited-temporal-unit",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source_column_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/source-column-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "database_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "database-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_temporal_unit": {
          "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit",
          "traits": {
            "smithy.api#jsonName": "lib/temporal-unit",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "lib/type"
          }
        },
        "settings": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnSettingsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fingerprint": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprint",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/source-uuid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_implicit_field_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "qp/implicit-field?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_ref_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/ref-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "effective_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "effective-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_deduplicated_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/deduplicated-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "base_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "base-type"
          }
        },
        "lib_transformation_added_base_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/transformation-added-base-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_expression_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-expression-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "fk-field-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_from_model_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/from-model?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lib_card_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "lib/card-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_expression_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/expression-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_breakout_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/breakout?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_effective_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-effective-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nfc_path": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnNfcPathList",
          "traits": {
            "smithy.api#jsonName": "nfc-path",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_native_sandbox_column_propagate_coercion_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "qp/native-sandbox-column.propagate-coercion?"
          }
        },
        "has_field_values": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnHasFieldValues",
          "traits": {
            "smithy.api#jsonName": "has-field-values",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_internal_remap": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternal",
          "traits": {
            "smithy.api#jsonName": "lib/internal-remap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "selected_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "selected?"
          }
        },
        "fk_field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "fk-field-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_binning": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinning",
          "traits": {
            "smithy.api#jsonName": "lib/original-binning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_native_sandbox_column_force_coercion_strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "qp/native-sandbox-column.force-coercion-strategy"
          }
        },
        "lib_binning": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinning",
          "traits": {
            "smithy.api#jsonName": "lib/binning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metabase_lib_metadata_result_metadata_source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnLegacySource",
          "traits": {
            "smithy.api#jsonName": "metabase.lib.metadata.result-metadata/source",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnSource",
          "traits": {
            "smithy.api#jsonName": "lib/source",
            "com.distilled.openapi#nullable": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "lib_ref_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/ref-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "semantic_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "semantic-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_target_field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "fk-target-field-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_simple_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/simple-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_desired_column_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/desired-column-alias",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Malli schema for a valid map of column metadata, which can mean one of two things:\n\n  1. Metadata about a particular Field in the application database. This will always have an `:id`\n\n  2. Results metadata from a column in `data.cols` and/or `data.results_metadata.columns` in a Query Processor\n     response, or saved in something like `Card.result_metadata`. These *may* have an `:id`, or may not -- columns\n     coming back from native queries or things like `SELECT count(*)` aren't associated with any particular `Field`\n     and thus will not have an `:id`.\n\n  Now maybe these should be two different schemas, but `:id` being there or not is the only real difference; besides\n  that they are largely compatible. So they're the same for now. We can revisit this in the future if we actually want\n  to differentiate between the two versions."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnVisibilityType": {
      "type": "enum",
      "members": {
        "RETIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retired"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "normal"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hidden"
          }
        },
        "DETAILS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "details-only"
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingExternal": {
      "type": "structure",
      "members": {
        "field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "field-id"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lib_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "lib/type"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "External remapping (Dimension) for a column. From the [[metabase.warehouse-schema.models.dimension]] with `type =\n  external` associated with a `Field` in the application database.\n  See [[metabase.query-processor.middleware.add-remaps]] for what this means."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnSettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprint": {
      "type": "structure",
      "members": {
        "experimental": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintExperimentalMap"
        },
        "global": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintGlobal"
        },
        "type": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintTypeSpecific"
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for a Field 'fingerprint' generated as part of the analysis stage. Used to power the 'classification'\n   sub-stage of analysis. Stored as the `fingerprint` column of Field."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintExperimentalMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintGlobal": {
      "type": "structure",
      "members": {
        "distinct_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "distinct-count"
          }
        },
        "nil_": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "nil%",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Fingerprint values that Fields of all types should have."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintTypeSpecific": {
      "type": "structure",
      "members": {
        "type_DateTime": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintTemporal",
          "traits": {
            "smithy.api#jsonName": "type/DateTime"
          }
        },
        "type_Number": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintNumber",
          "traits": {
            "smithy.api#jsonName": "type/Number"
          }
        },
        "type_Text": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintText",
          "traits": {
            "smithy.api#jsonName": "type/Text"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for type-specific fingerprint information."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintTemporal": {
      "type": "structure",
      "members": {
        "earliest": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "mode-fraction",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_3_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "top-3-fraction",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for fingerprint information for Fields deriving from `:type/Temporal`."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintNumber": {
      "type": "structure",
      "members": {
        "mode_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "mode-fraction",
            "com.distilled.openapi#nullable": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "q1": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "avg": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "sd": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "skewness": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "q3": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_3_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "top-3-fraction",
            "com.distilled.openapi#nullable": {}
          }
        },
        "excess_kurtosis": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "excess-kurtosis",
            "com.distilled.openapi#nullable": {}
          }
        },
        "zero_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "zero-fraction",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for fingerprint information for Fields deriving from `:type/Number`."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprintText": {
      "type": "structure",
      "members": {
        "average_length": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "average-length",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mode_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "mode-fraction",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percent_blank": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "percent-blank",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percent_email": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "percent-email",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percent_json": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "percent-json",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percent_state": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "percent-state",
            "com.distilled.openapi#nullable": {}
          }
        },
        "percent_url": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "percent-url",
            "com.distilled.openapi#nullable": {}
          }
        },
        "top_3_fraction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#jsonName": "top-3-fraction",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for fingerprint information for Fields deriving from `:type/Text`."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnNfcPathList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnHasFieldValues": {
      "type": "enum",
      "members": {
        "AUTO_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto-list"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "list"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search"
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternal": {
      "type": "structure",
      "members": {
        "human_readable_values": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternalHumanReadableValuesList",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "human-readable-values"
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lib_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "lib/type"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternalValuesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal remapping (FieldValues) for a column. From [[metabase.warehouse-schema.models.dimension]] with `type =\n  internal` and the [[metabase.warehouse-schema.models.field-values]] associated with a `Field` in the application\n  database. See [[metabase.query-processor.middleware.add-remaps]] for what this means."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternalHumanReadableValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternalValuesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaBinningBinning": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinningCase0"
        },
        "Case1": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinningCase1"
        },
        "Case2": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinningCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for `:binning` options passed to a `:field` clause."
      }
    },
    "com.metabase.api#MetabaseLibSchemaBinningBinningCase0": {
      "type": "structure",
      "members": {
        "strategy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaBinningBinningCase1": {
      "type": "structure",
      "members": {
        "bin_width": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "bin-width"
          }
        },
        "strategy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaBinningBinningCase2": {
      "type": "structure",
      "members": {
        "num_bins": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "num-bins"
          }
        },
        "strategy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnLegacySource": {
      "type": "enum",
      "members": {
        "AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aggregation"
          }
        },
        "FIELDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fields"
          }
        },
        "BREAKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "breakout"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "native"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible values for `column.source` -- this is added by [[metabase.lib.metadata.result-metadata]] for historical\n  reasons (it is used in a few places in the FE). DO NOT use this in the backend for any purpose, use `:lib/source`\n  instead."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataColumnSource": {
      "type": "enum",
      "members": {
        "SOURCE_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/card"
          }
        },
        "SOURCE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/native"
          }
        },
        "SOURCE_PREVIOUS_STAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/previous-stage"
          }
        },
        "SOURCE_TABLE_DEFAULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/table-defaults"
          }
        },
        "SOURCE_AGGREGATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/aggregations"
          }
        },
        "SOURCE_JOINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/joins"
          }
        },
        "SOURCE_EXPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/expressions"
          }
        },
        "SOURCE_IMPLICITLY_JOINABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "source/implicitly-joinable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`:lib/source` -- where a column came from with respect to the current stage.\n\n  Traditionally, `:lib/source` meant something slightly different -- it denoted what part of the current stage a\n  column came from, and thus included two additional options -- `:source/fields`, for columns used by `:fields`, and\n  `:source/breakouts`, for columns used in `:breakout`. This was not really useful information and made `:lib/source`\n  itself useless for determining if a column was 'inherited' or not (i.e., whether it came from a previous stage,\n  source card, or a join, and should get field name refs instead of field ID refs --\n  see [[metabase.lib.field.util/inherited-column?]])."
      }
    },
    "com.metabase.api#MetabaseLibSchemaInfoInfoPivotResultMetadataCase1List": {
      "type": "list",
      "member": {
        "target": "com.metabase.api#MetabaseLibSchemaMetadataColumn"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaInfoInfoPivotResultMetadata": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.metabase.api#MetabaseLibSchemaInfoInfoPivotResultMetadataCase1List"
        }
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaInfoContext": {
      "type": "enum",
      "members": {
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action"
          }
        },
        "ACTION_EXECUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "action-execute"
          }
        },
        "AD_HOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad-hoc"
          }
        },
        "AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agent"
          }
        },
        "CACHE_REFRESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cache-refresh"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection"
          }
        },
        "MAP_TILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "map-tiles"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "PULSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pulse"
          }
        },
        "DASHBOARD_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard-subscription"
          }
        },
        "DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dashboard"
          }
        },
        "QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "question"
          }
        },
        "CSV_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv-download"
          }
        },
        "XLSX_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xlsx-download"
          }
        },
        "JSON_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json-download"
          }
        },
        "PUBLIC_ACTION_EXECUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-action-execute"
          }
        },
        "PUBLIC_DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-dashboard"
          }
        },
        "PUBLIC_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-question"
          }
        },
        "PUBLIC_CSV_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-csv-download"
          }
        },
        "PUBLIC_XLSX_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-xlsx-download"
          }
        },
        "PUBLIC_JSON_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-json-download"
          }
        },
        "EMBEDDED_DASHBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "embedded-dashboard"
          }
        },
        "EMBEDDED_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "embedded-question"
          }
        },
        "EMBEDDED_CSV_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "embedded-csv-download"
          }
        },
        "EMBEDDED_XLSX_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "embedded-xlsx-download"
          }
        },
        "EMBEDDED_JSON_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "embedded-json-download"
          }
        },
        "TABLE_GRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table-grid"
          }
        },
        "TABLE_ROWS_SAMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "table-rows-sample"
          }
        },
        "TRANSFORM_INSPECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transform-inspector"
          }
        },
        "SLACKBOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slackbot"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for `info.context`; used for informational purposes to record how a query was executed."
      }
    },
    "com.metabase.api#MetabaseLibSchemaInfoInfoLensParamsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumn": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumnCase0"
        },
        "MetabaseLegacyMbqlSchemaLegacyColumnMetadata": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadata"
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for the maps in card `:result-metadata` and similar. These can be either\n  `:metabase.lib.schema.metadata/result-metadata` (i.e., kebab-cased) maps, or map snake_cased as returned by QP\n  metadata, but they should NOT be a mixture of both -- if we mixed them somehow there is a bug in our code."
      }
    },
    "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumnCase0SettingsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumnCase0NfcPathList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumnCase0": {
      "type": "structure",
      "members": {
        "visibility_type": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnVisibilityType",
          "traits": {
            "smithy.api#jsonName": "visibility-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "fk-join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metabase_lib_metadata_result_metadata_field_ref": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "metabase.lib.metadata.result-metadata/field-ref",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_external_remap": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingExternal",
          "traits": {
            "smithy.api#jsonName": "lib/external-remap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inherited_temporal_unit": {
          "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit",
          "traits": {
            "smithy.api#jsonName": "inherited-temporal-unit",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source_column_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/source-column-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "database_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "database-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_temporal_unit": {
          "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit",
          "traits": {
            "smithy.api#jsonName": "lib/temporal-unit",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "lib/type"
          }
        },
        "settings": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumnCase0SettingsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fingerprint": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprint",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/source-uuid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_implicit_field_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "qp/implicit-field?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_ref_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/ref-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "effective_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "effective-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_deduplicated_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/deduplicated-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "base_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "base-type"
          }
        },
        "lib_transformation_added_base_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/transformation-added-base-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_expression_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-expression-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "fk-field-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_from_model_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/from-model?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lib_card_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "lib/card-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_expression_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/expression-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_breakout_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/breakout?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_effective_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-effective-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "nfc_path": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataLibOrLegacyColumnCase0NfcPathList",
          "traits": {
            "smithy.api#jsonName": "nfc-path",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_native_sandbox_column_propagate_coercion_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "qp/native-sandbox-column.propagate-coercion?"
          }
        },
        "has_field_values": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnHasFieldValues",
          "traits": {
            "smithy.api#jsonName": "has-field-values",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_internal_remap": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternal",
          "traits": {
            "smithy.api#jsonName": "lib/internal-remap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "selected_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "selected?"
          }
        },
        "fk_field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "fk-field-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_binning": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinning",
          "traits": {
            "smithy.api#jsonName": "lib/original-binning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_native_sandbox_column_force_coercion_strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "qp/native-sandbox-column.force-coercion-strategy"
          }
        },
        "lib_binning": {
          "target": "com.metabase.api#MetabaseLibSchemaBinningBinning",
          "traits": {
            "smithy.api#jsonName": "lib/binning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metabase_lib_metadata_result_metadata_source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnLegacySource",
          "traits": {
            "smithy.api#jsonName": "metabase.lib.metadata.result-metadata/source",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnSource",
          "traits": {
            "smithy.api#jsonName": "lib/source",
            "com.distilled.openapi#nullable": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "lib_ref_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/ref-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "semantic_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "semantic-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_target_field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "fk-target-field-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_simple_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/simple-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_desired_column_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/desired-column-alias",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Malli schema for a valid map of column metadata, which can mean one of two things:\n\n  1. Metadata about a particular Field in the application database. This will always have an `:id`\n\n  2. Results metadata from a column in `data.cols` and/or `data.results_metadata.columns` in a Query Processor\n     response, or saved in something like `Card.result_metadata`. These *may* have an `:id`, or may not -- columns\n     coming back from native queries or things like `SELECT count(*)` aren't associated with any particular `Field`\n     and thus will not have an `:id`.\n\n  Now maybe these should be two different schemas, but `:id` being there or not is the only real difference; besides\n  that they are largely compatible. So they're the same for now. We can revisit this in the future if we actually want\n  to differentiate between the two versions."
      }
    },
    "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadata": {
      "type": "structure",
      "members": {
        "metabase_lib_metadata_result_metadata_field_ref": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "metabase.lib.metadata.result-metadata/field-ref",
            "com.distilled.openapi#nullable": {}
          }
        },
        "field_ref": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_external_remap": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingExternal",
          "traits": {
            "smithy.api#jsonName": "lib/external-remap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source_column_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/source-column-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "remapped_from": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_temporal_unit": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadataLibTemporalUnit",
          "traits": {
            "smithy.api#jsonName": "lib/temporal-unit",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#jsonName": "lib/type"
          }
        },
        "settings": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fingerprint": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataFingerprintFingerprint",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility_type": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnVisibilityType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "base_type": {
          "target": "smithy.api#String"
        },
        "lib_source_uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/source-uuid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_implicit_field_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "qp/implicit-field?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_ref_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/ref-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_deduplicated_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The simply-deduplicated name that was historically used in QP results metadata (originally calculated by\n  the [[metabase.query-processor.middleware.annotate]] middleware, now calculated\n  by [[metabase.lib.middleware.result-metadata]]). This just adds suffixes to column names e.g. `ID` and `ID` become\n  `ID` and `ID_2`, respectively. Kept around because many old field refs use this column name.",
            "smithy.api#jsonName": "lib/deduplicated-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "coercion_strategy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_transformation_added_base_type": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/transformation-added-base-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_expression_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-expression-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_from_model_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/from-model?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "position": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "lib_card_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#jsonName": "lib/card-id",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_expression_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/expression-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_breakout_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "lib/breakout?",
            "com.distilled.openapi#nullable": {}
          }
        },
        "semantic_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_field_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_effective_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-effective-type",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_id": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaSourceTable",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_field_values": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnHasFieldValues",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "qp_native_sandbox_column_propagate_coercion_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "qp/native-sandbox-column.propagate-coercion?"
          }
        },
        "lib_internal_remap": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnRemappingInternal",
          "traits": {
            "smithy.api#jsonName": "lib/internal-remap",
            "com.distilled.openapi#nullable": {}
          }
        },
        "converted_timezone": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "selected_": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#jsonName": "selected?"
          }
        },
        "fk_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnLegacySource",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "remapped_to": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "binning_info": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadataBinningInfo",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nfc_path": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadataNfcPathList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_binning": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadataLibOriginalBinning",
          "traits": {
            "smithy.api#jsonName": "lib/original-binning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "effective_type": {
          "target": "smithy.api#String"
        },
        "lib_original_join_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-join-alias",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/original-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "unit": {
          "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "qp_native_sandbox_column_force_coercion_strategy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "qp/native-sandbox-column.force-coercion-strategy"
          }
        },
        "lib_binning": {
          "target": "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadataLibBinning",
          "traits": {
            "smithy.api#jsonName": "lib/binning",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metabase_lib_metadata_result_metadata_source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnLegacySource",
          "traits": {
            "smithy.api#jsonName": "metabase.lib.metadata.result-metadata/source",
            "com.distilled.openapi#nullable": {}
          }
        },
        "inherited_temporal_unit": {
          "target": "com.metabase.api#MetabaseLibSchemaTemporalBucketingUnit",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_source": {
          "target": "com.metabase.api#MetabaseLibSchemaMetadataColumnSource",
          "traits": {
            "smithy.api#jsonName": "lib/source",
            "com.distilled.openapi#nullable": {}
          }
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "lib_ref_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/ref-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_original_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original name of the column as it appeared in the very first place it came from (i.e., the physical name of the\n  column in the table it appears in). This should be the same as the `:lib/source-column-alias` for the very first\n  usage of the column.\n  Allowed to be blank because some databases like SQL Server allow blank column names.",
            "smithy.api#jsonName": "lib/original-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "database_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_simple_display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/simple-display-name",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fk_target_field_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "lib_desired_column_alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "lib/desired-column-alias",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema for a single legacy metadata column. This is the pre-Lib equivalent of\n  `:metabase.lib.schema.metadata/column`."
      }
    },
    "com.metabase.api#MetabaseLegacyMbqlSchemaLegacyColumnMetadataLibTemporalUnit": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "DAY_OF_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day-of-month"
          }
        },
        "DAY_OF_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day-of-week"
          }
        },
        "DAY_OF_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day-of-year"
          }
        },
[...]
