{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ],
    "distilled.finalized": true
  },
  "shapes": {
    "com.porkbun.api#GetPingResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "yourIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's public IP address",
            "smithy.api#required": {}
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value of the X-Forwarded-For header"
          }
        },
        "credentialsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Present and true when valid credentials were supplied"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetPing": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#GetPingResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ping",
          "code": 200
        },
        "smithy.api#documentation": "Test credentials and get caller IP\n\nReturns the caller's public IP address. Optionally validates API credentials.\n\n- **No credentials supplied** — returns IP only.\n- **Valid credentials supplied** — returns IP with `credentialsValid: true`.\n- **Invalid credentials supplied** — returns an error.\n\nUseful for agents and clients to verify their API key is working before making other calls."
      }
    },
    "com.porkbun.api#PingResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "yourIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's public IP address",
            "smithy.api#required": {}
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value of the X-Forwarded-For header"
          }
        },
        "credentialsValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Present and true when valid credentials were supplied"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#Ping": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#PingResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ping",
          "code": 200
        },
        "smithy.api#documentation": "Test credentials and get caller IP\n\nReturns the caller's public IP address. Optionally validates API credentials.\n\n- **No credentials supplied** — returns IP only.\n- **Valid credentials supplied** — returns IP with `credentialsValid: true`.\n- **Invalid credentials supplied** — returns an error.\n\nUseful for agents and clients to verify their API key is working before making other calls."
      }
    },
    "com.porkbun.api#IpResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "yourIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The caller's public IP address",
            "smithy.api#required": {}
          }
        },
        "xForwardedFor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw value of the X-Forwarded-For header"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetIp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#IpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ip",
          "code": 200
        },
        "smithy.api#documentation": "Get caller IP address\n\nReturns the caller's public IP address. No credentials required. Use the `api-ipv4.porkbun.com` hostname if you need to force an IPv4 address."
      }
    },
    "com.porkbun.api#PostIp": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.porkbun.api#IpResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ip",
          "code": 200
        },
        "smithy.api#documentation": "Get caller IP address\n\nReturns the caller's public IP address. No credentials required. Use the `api-ipv4.porkbun.com` hostname if you need to force an IPv4 address."
      }
    },
    "com.porkbun.api#GetPricingGetRequest": {
      "type": "structure",
      "members": {
        "tld": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tld",
            "smithy.api#documentation": "One TLD to price, e.g. `io`."
          }
        },
        "tlds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tlds",
            "smithy.api#documentation": "Comma-separated TLDs to price, e.g. `com,io,dev`. Omit (with `tld`) for every TLD."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetPricingGetResponseUnsupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Present only when a filter named TLDs Porkbun does not sell: those names, as sent. They are not in `pricing`."
      }
    },
    "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValueFirstYearOnly": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "max_per_user": {
          "target": "smithy.api#Integer"
        },
        "first_year_only": {
          "target": "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValueFirstYearOnly"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "amount": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingGetResponsePricingValueCouponsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingGetResponsePricingValueCouponsValue"
      },
      "traits": {
        "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
      }
    },
    "com.porkbun.api#GetPricingGetResponsePricingValue": {
      "type": "structure",
      "members": {
        "registration": {
          "target": "smithy.api#String"
        },
        "renewal": {
          "target": "smithy.api#String"
        },
        "transfer": {
          "target": "smithy.api#String"
        },
        "specialType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present only for special TLDs (e.g. 'handshake')"
          }
        },
        "coupons": {
          "target": "com.porkbun.api#GetPricingGetResponsePricingValueCouponsMap",
          "traits": {
            "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingGetResponsePricingMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingGetResponsePricingValue"
      },
      "traits": {
        "smithy.api#documentation": "Object keyed by TLD string"
      }
    },
    "com.porkbun.api#GetPricingGetResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "unsupported": {
          "target": "com.porkbun.api#GetPricingGetResponseUnsupportedList",
          "traits": {
            "smithy.api#documentation": "Present only when a filter named TLDs Porkbun does not sell: those names, as sent. They are not in `pricing`."
          }
        },
        "pricing": {
          "target": "com.porkbun.api#GetPricingGetResponsePricingMap",
          "traits": {
            "smithy.api#documentation": "Object keyed by TLD string"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetPricingGet": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetPricingGetRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetPricingGetResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/pricing/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve domain pricing (public)\n\nRetrieve default domain pricing information for all supported TLDs, or only the ones you ask for. Does not require authentication. Prices are in US dollars.\n\nFilter with `tld` (one TLD) and/or `tlds` (several). Names are case-insensitive, a leading dot is ignored, and IDN TLDs may be sent in Unicode or punycode (`みんな` or `xn--q9jyb4c`). A TLD Porkbun does not sell is left out of `pricing` and listed in `unsupported`; if none of the requested TLDs is sold the response is `INVALID_TLD` (HTTP 400). No filter returns every TLD. On GET, `tlds` is comma-separated: `?tlds=com,io,dev`."
      }
    },
    "com.porkbun.api#GetPricingRequestTldsCase0List": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingRequestTlds": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.porkbun.api#GetPricingRequestTldsCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional TLDs to price: an array, or a comma-separated string. If neither `tld` nor `tlds` is given (or both are empty), all supported TLDs are returned."
      }
    },
    "com.porkbun.api#GetPricingRequest": {
      "type": "structure",
      "members": {
        "tld": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional single TLD to price, e.g. `io`. Combines with `tlds`."
          }
        },
        "tlds": {
          "target": "com.porkbun.api#GetPricingRequestTlds",
          "traits": {
            "smithy.api#documentation": "Optional TLDs to price: an array, or a comma-separated string. If neither `tld` nor `tlds` is given (or both are empty), all supported TLDs are returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetPricingResponseUnsupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Present only when a filter named TLDs Porkbun does not sell: those names, as sent. They are not in `pricing`."
      }
    },
    "com.porkbun.api#GetPricingResponsePricingValueCouponsValueFirstYearOnly": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingResponsePricingValueCouponsValue": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "max_per_user": {
          "target": "smithy.api#Integer"
        },
        "first_year_only": {
          "target": "com.porkbun.api#GetPricingResponsePricingValueCouponsValueFirstYearOnly"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "amount": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingResponsePricingValueCouponsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingResponsePricingValueCouponsValue"
      },
      "traits": {
        "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
      }
    },
    "com.porkbun.api#GetPricingResponsePricingValue": {
      "type": "structure",
      "members": {
        "registration": {
          "target": "smithy.api#String"
        },
        "renewal": {
          "target": "smithy.api#String"
        },
        "transfer": {
          "target": "smithy.api#String"
        },
        "specialType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Present only for special TLDs (e.g. 'handshake')"
          }
        },
        "coupons": {
          "target": "com.porkbun.api#GetPricingResponsePricingValueCouponsMap",
          "traits": {
            "smithy.api#documentation": "Active coupon codes for this TLD, keyed by product type"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetPricingResponsePricingMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.porkbun.api#GetPricingResponsePricingValue"
      },
      "traits": {
        "smithy.api#documentation": "Object keyed by TLD string"
      }
    },
    "com.porkbun.api#GetPricingResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "unsupported": {
          "target": "com.porkbun.api#GetPricingResponseUnsupportedList",
          "traits": {
            "smithy.api#documentation": "Present only when a filter named TLDs Porkbun does not sell: those names, as sent. They are not in `pricing`."
          }
        },
        "pricing": {
          "target": "com.porkbun.api#GetPricingResponsePricingMap",
          "traits": {
            "smithy.api#documentation": "Object keyed by TLD string"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetPricing": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetPricingRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetPricingResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pricing/get",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve domain pricing (public)\n\nRetrieve default domain pricing information for all supported TLDs, or only the ones you ask for. Does not require authentication. Prices are in US dollars.\n\nFilter with `tld` (one TLD) and/or `tlds` (several). Names are case-insensitive, a leading dot is ignored, and IDN TLDs may be sent in Unicode or punycode (`みんな` or `xn--q9jyb4c`). A TLD Porkbun does not sell is left out of `pricing` and listed in `unsupported`; if none of the requested TLDs is sold the response is `INVALID_TLD` (HTTP 400). No filter returns every TLD."
      }
    },
    "com.porkbun.api#ApikeyRequestRequestCodeChallengeMethod": {
      "type": "enum",
      "members": {
        "S256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "PKCE challenge method. Only S256 is supported."
      }
    },
    "com.porkbun.api#ApikeyRequestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the application/integration requesting access. Optional but strongly recommended: it is shown to the account holder on the approval screen so they know what they're granting access to. If omitted, the approval page shows \"No application name was provided.\""
          }
        },
        "codeChallenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional PKCE (RFC 7636) binding. base64url(SHA-256(codeVerifier)), 43 unpadded chars. When present, the request uses lazy-mint delivery: after approval the account holder copies nothing, and /apikey/retrieve returns BOTH the public and secret keys once to the caller that presents the matching codeVerifier. Omit for the legacy flow (secret shown only in the browser)."
          }
        },
        "codeChallengeMethod": {
          "target": "com.porkbun.api#ApikeyRequestRequestCodeChallengeMethod",
          "traits": {
            "smithy.api#documentation": "PKCE challenge method. Only S256 is supported."
          }
        },
        "sandbox": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, skip the approval flow and immediately return a throwaway SANDBOX key pair (public `pk1_sb_`, secret `sk1_sb_`) for a fresh test account seeded with $1000 fake credit. Use it as apikey/secretapikey against the same base URL to run the whole API in the isolated sandbox — no real registry actions, DNS changes, or charges. Rate-limited (20/IP/hour)."
          }
        },
        "returnUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional app-return redirect for native/mobile apps. Requires codeChallenge (PKCE). Must be an HTTPS URL your app claims as a Universal Link / App Link (custom URI schemes are rejected — another app could hijack them). After the account holder approves in the system browser, Porkbun redirects here with `?status=approved&requestToken=<token>` (or `status=denied`) so control returns to your app; it then calls /apikey/retrieve with its codeVerifier to receive the keys. The key is NEVER placed in the redirect — only the request token and status."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#ApikeyRequestResponseDeliveryMode": {
      "type": "enum",
      "members": {
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legacy"
          }
        },
        "PKCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkce"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which delivery flow this request uses. 'pkce' when a codeChallenge was supplied (the secret is returned once via /apikey/retrieve to the verifier holder); 'legacy' otherwise (the secret is shown only in the browser)."
      }
    },
    "com.porkbun.api#ApikeyRequestResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "requestToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token used to poll `/apikey/retrieve` to check approval status.",
            "smithy.api#required": {}
          }
        },
        "authUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL the account holder must visit to approve the request"
          }
        },
        "expiration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO datetime when this request expires (30 minutes from creation)"
          }
        },
        "deliveryMode": {
          "target": "com.porkbun.api#ApikeyRequestResponseDeliveryMode",
          "traits": {
            "smithy.api#documentation": "Which delivery flow this request uses. 'pkce' when a codeChallenge was supplied (the secret is returned once via /apikey/retrieve to the verifier holder); 'legacy' otherwise (the secret is shown only in the browser)."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable instructions"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#ApikeyRequest": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#ApikeyRequestRequest"
      },
      "output": {
        "target": "com.porkbun.api#ApikeyRequestResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apikey/request",
          "code": 200
        },
        "smithy.api#documentation": "Initiate an API key authorization request\n\nInitiate an API key authorization flow. No credentials are required. Returns a `requestToken` and `authUrl` that the account holder must visit (while logged in to Porkbun in that browser) to approve the request. The `authUrl` is valid for **30 minutes** (long enough for a brand-new user to create an account and verify their email); if it lapses, call this endpoint again for a fresh token. After approval, call `/apikey/retrieve` to get the public API key. By default (legacy flow) the secret API key is shown only once, in the user's browser, and must be pasted into the application manually. To let an agent receive the secret without a browser copy, supply a PKCE `codeChallenge` (see the parameter below): the key is then minted lazily and BOTH keys are returned once from `/apikey/retrieve` to the caller presenting the matching `codeVerifier`.\n\n**Rate limit:** 20 requests per IP per 3600 seconds.\n\nSANDBOX: pass `sandbox: true` to skip approval and get a sandbox key pair back immediately (both `apikey` and `secretapikey` in the response, plus `sandbox: true`)."
      }
    },
    "com.porkbun.api#GetApikeyRequest": {
      "type": "structure",
      "members": {
        "requestToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token returned by /apikey/request. Must be a 64-character lowercase hex string.",
            "smithy.api#required": {}
          }
        },
        "codeVerifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PKCE verifier (RFC 7636). Required only when the request was created with a codeChallenge. The high-entropy secret whose base64url(SHA-256(codeVerifier)) equals that challenge. When it matches, this response includes the secret key (secretapikey) once."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetApikeyResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetApikeyResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#GetApikeyResponseStatus"
        },
        "apikey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The approved public API key. Present only when status is SUCCESS.",
            "smithy.api#sensitive": {}
          }
        },
        "secretapikey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret API key. Returned ONLY for a PKCE request, exactly once, on the retrieve that presents a valid codeVerifier. Never returned for legacy requests, and never again after the first successful claim (later calls return apikey only, with code SECRET_ALREADY_CLAIMED). Store it immediately."
          }
        },
        "message": {
          "target": "smithy.api#String"
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Machine-readable error code. Present when status is ERROR."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#GetApikey": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetApikeyRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetApikeyResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        },
        {
          "target": "com.porkbun.api#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apikey/retrieve",
          "code": 200
        },
        "smithy.api#documentation": "Poll for API key approval\n\nPoll to check whether the account holder has approved an API key authorization request. Returns `status: PENDING` while awaiting approval. On approval, returns the public API key. For a **PKCE** request (one created with a codeChallenge), pass the matching codeVerifier here to receive BOTH keys once (secretapikey is included in that single response and never again); the secret must be claimed within 10 minutes of approval or the request expires (`REQUEST_EXPIRED`) and a new one is needed. For a **legacy** request the secret API key is never transmitted via this endpoint — it is displayed in the user's browser and must be pasted into the application.\n\n**Rate limit:** 120 requests per IP per 3600 seconds."
      }
    },
    "com.porkbun.api#BulkDomainCheckDomainRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Domains to check, e.g. [\"example.com\", \"example.net\"]. Duplicates are removed."
      }
    },
    "com.porkbun.api#BulkDomainCheckDomainRequest": {
      "type": "structure",
      "members": {
        "domains": {
          "target": "com.porkbun.api#BulkDomainCheckDomainRequestDomainsList",
          "traits": {
            "smithy.api#documentation": "Domains to check, e.g. [\"example.com\", \"example.net\"]. Duplicates are removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#BulkDomainCheckDomainResponseDomainsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Keyed by domain name; each value has the same shape as the single-check `response` object"
      }
    },
    "com.porkbun.api#BulkDomainCheckDomainResponseUnresolvedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The registry did not answer for these. NOT a statement of availability - retry them."
      }
    },
    "com.porkbun.api#BulkDomainCheckDomainResponseInvalidList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Entries that could not be checked, each with a reason"
      }
    },
    "com.porkbun.api#BulkDomainCheckDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "checked": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many domains were answered"
          }
        },
        "domains": {
          "target": "com.porkbun.api#BulkDomainCheckDomainResponseDomainsMap",
          "traits": {
            "smithy.api#documentation": "Keyed by domain name; each value has the same shape as the single-check `response` object"
          }
        },
        "unresolved": {
          "target": "com.porkbun.api#BulkDomainCheckDomainResponseUnresolvedList",
          "traits": {
            "smithy.api#documentation": "The registry did not answer for these. NOT a statement of availability - retry them."
          }
        },
        "invalid": {
          "target": "com.porkbun.api#BulkDomainCheckDomainResponseInvalidList",
          "traits": {
            "smithy.api#documentation": "Entries that could not be checked, each with a reason"
          }
        },
        "limits": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Bulk budget usage; `countedIn` is \"domains\""
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#BulkDomainCheckDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#BulkDomainCheckDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#BulkDomainCheckDomainResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/checkDomain",
          "code": 200
        },
        "smithy.api#documentation": "Check several domains at once\n\nCheck availability and pricing for up to 25 domains in one call. Same endpoint as the single check, with a `domains` array in the body and no domain in the path.\n\n**Prefer this over looping the single check.** Checks are chunked per registry, so a batch is materially less work for us than the same names one at a time, and the budget reflects that: this draws on a separate allowance of **200 domains per 60 seconds** per account, against 10 checks per 10 seconds for the single form. Counting is per DOMAIN, not per request, so 25 domains spends 25 of the 200.\n\n**Sustained bulk checking.** An account that checks about 1,800 names over three hours while registering little of what it checks (fewer than one domain per 200 names over a day) is treated as scanning for the next 24 hours: its checks, single and bulk, on every API version, share a budget of 50 names per 5 minutes. Over it, the call is refused whole with `RATE_LIMIT_EXCEEDED`, `reason: \"SUSTAINED_BULK_CHECKING\"` and `retryAfter`; nothing is part-answered. Normal use, including checking a long list of candidate names once, is nowhere near this. Accounts that buy (100 or more registrations in a year) and affiliates sending orders are never treated as scanning, and a per-key limit from support overrides it.\n\n**Partial results are normal and must be read.** Three lists come back and they mean different things:\n- `domains` - answered, keyed by domain name, each value identical in shape to the single-check `response`.\n- `invalid` - entries that are not checkable at all (not a domain, unsupported TLD). One typo does not fail the call; the other names are still answered.\n- `unresolved` - the registry did not answer in time. These are **neither available nor taken**; treating them as unavailable is wrong. Retry them.\n\nDuplicates are removed before the budget is charged. If more than 25 remain, nothing is checked and `BULK_CHECK_TOO_MANY` is returned rather than a truncated answer.\n\n**Latency.** This is synchronous: one request, one complete answer, no polling. 25 domains across 25 different TLDs measures around 3 seconds, because the connection manager fans a batch that fits under every registry's cap out as a single command. A few registries cap low and **.de accepts one domain per command**, so a batch heavy in those becomes several sequential commands; if that would need more than 4, the call is refused with `BULK_CHECK_TOO_SLOW` rather than left to time out mid-response."
      }
    },
    "com.porkbun.api#DomainCheckDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#CheckDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.porkbun.api#CheckDomainResponseResponse",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.porkbun.api#CheckDomainResponseLimits",
          "traits": {
            "smithy.api#documentation": "Current rate limit usage for this account"
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds remaining until the rate limit window resets"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseResponseAvail": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the domain is available for registration"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponseFirstYearPromo": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the returned price is a first-year promotional price"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponsePremium": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether this is a premium domain"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponseAdditionalRenewal": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "price": {
          "target": "smithy.api#String"
        },
        "regularPrice": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseResponseAdditionalTransfer": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "price": {
          "target": "smithy.api#String"
        },
        "regularPrice": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseResponseAdditional": {
      "type": "structure",
      "members": {
        "renewal": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAdditionalRenewal"
        },
        "transfer": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAdditionalTransfer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Renewal and transfer pricing for this domain"
      }
    },
    "com.porkbun.api#CheckDomainResponseResponse": {
      "type": "structure",
      "members": {
        "avail": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAvail",
          "traits": {
            "smithy.api#documentation": "Whether the domain is available for registration"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The price type (always 'registration' for the primary price)"
          }
        },
        "price": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registration price per year in USD"
          }
        },
        "firstYearPromo": {
          "target": "com.porkbun.api#CheckDomainResponseResponseFirstYearPromo",
          "traits": {
            "smithy.api#documentation": "Whether the returned price is a first-year promotional price"
          }
        },
        "regularPrice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Standard (non-promo) registration price in USD"
          }
        },
        "premium": {
          "target": "com.porkbun.api#CheckDomainResponseResponsePremium",
          "traits": {
            "smithy.api#documentation": "Whether this is a premium domain"
          }
        },
        "minDuration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum registration duration in years required by the registry"
          }
        },
        "additional": {
          "target": "com.porkbun.api#CheckDomainResponseResponseAdditional",
          "traits": {
            "smithy.api#documentation": "Renewal and transfer pricing for this domain"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CheckDomainResponseLimits": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rate limit window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum checks allowed in the window"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of checks used so far in the current window"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable rate limit summary"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current rate limit usage for this account"
      }
    },
    "com.porkbun.api#DomainCheckDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainCheckDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#CheckDomainResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/checkDomain/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Check domain availability\n\nCheck if a domain is available for registration and retrieve current pricing. Includes registration, renewal, and transfer prices.\n\n**Rate limit:** Configurable per API key. Default is 10 checks per 10 seconds per account (raised from 1 per 10 seconds in 3.29). The window is intentionally 10 seconds rather than 1, so a batch of candidate names can be checked back-to-back. `/domain/checkSingleDomain` draws on the same budget. Rate limit usage is returned in the `limits` field of the response.\n\n**Sustained bulk checking.** An account that checks about 1,800 names over three hours while registering little of what it checks (fewer than one domain per 200 names over a day) is treated as scanning for the next 24 hours: its checks, single and bulk, on every API version, share a budget of 50 names per 5 minutes. Over it, the call is refused whole with `RATE_LIMIT_EXCEEDED`, `reason: \"SUSTAINED_BULK_CHECKING\"` and `retryAfter`; nothing is part-answered. Normal use, including checking a long list of candidate names once, is nowhere near this. Accounts that buy (100 or more registrations in a year) and affiliates sending orders are never treated as scanning, and a per-key limit from support overrides it."
      }
    },
    "com.porkbun.api#CreateDomainRequestAgreeToTerms": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Must be 'yes' or '1' to confirm agreement to the Domain Name Registration Agreement, Product Terms of Service, Privacy Policy, and automatic renewal terms."
      }
    },
    "com.porkbun.api#CreateDomainRequestPayWith": {
      "type": "enum",
      "members": {
        "USDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional. `\"usdc\"` pays for this purchase directly in USDC on Base over x402 instead of from account credit. The first call answers HTTP 402 (`PAYMENT_REQUIRED`) with Coinbase's terms in the `PAYMENT-REQUIRED` header and charges nothing; an x402 client pays and repeats the same request with a `PAYMENT-SIGNATURE` header, and the purchase completes in that call. If it then fails, the payment stays on the account as account credit; it is not sent back to the wallet. If your wallet pays URLs itself instead, pay the 402's `x402Url` (or have a person pay `payUrl`) and repeat the request with `usdcCheckoutId`. See the guide: https://porkbun.com/llms/guides/pay-with-usdc-x402"
      }
    },
    "com.porkbun.api#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The registration cost in pennies (USD cents). Must exactly equal the total price for the domain at its minimum registration duration. Obtain this from /domain/checkDomain first.",
            "smithy.api#required": {}
          }
        },
        "agreeToTerms": {
          "target": "com.porkbun.api#CreateDomainRequestAgreeToTerms",
          "traits": {
            "smithy.api#documentation": "Must be 'yes' or '1' to confirm agreement to the Domain Name Registration Agreement, Product Terms of Service, Privacy Policy, and automatic renewal terms.",
            "smithy.api#required": {}
          }
        },
        "whoisPrivacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Override WHOIS privacy for this registration. When omitted, the account-level default is used (set under Account Security Settings on porkbun.com/account — defaults to enabled). Pass `true` to force-enable privacy or `false` to register with public contact info. Strings `\"on\"`/`\"off\"`, `\"true\"`/`\"false\"`, `\"yes\"`/`\"no\"`, `\"1\"`/`\"0\"` are also accepted. Has no effect on TLDs that don't support WHOIS privacy (privacy stays off regardless)."
          }
        },
        "payWith": {
          "target": "com.porkbun.api#CreateDomainRequestPayWith",
          "traits": {
            "smithy.api#documentation": "Optional. `\"usdc\"` pays for this purchase directly in USDC on Base over x402 instead of from account credit. The first call answers HTTP 402 (`PAYMENT_REQUIRED`) with Coinbase's terms in the `PAYMENT-REQUIRED` header and charges nothing; an x402 client pays and repeats the same request with a `PAYMENT-SIGNATURE` header, and the purchase completes in that call. If it then fails, the payment stays on the account as account credit; it is not sent back to the wallet. If your wallet pays URLs itself instead, pay the 402's `x402Url` (or have a person pay `payUrl`) and repeat the request with `usdcCheckoutId`. See the guide: https://porkbun.com/llms/guides/pay-with-usdc-x402"
          }
        },
        "usdcCheckoutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "With `payWith: \"usdc\"`: the `checkoutId` from an earlier `PAYMENT_REQUIRED`, once its `x402Url` or `payUrl` has been paid. Send it with otherwise the same request; the purchase completes if the checkout is paid and was opened for this purchase."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, runs all pre-flight validation (availability, pricing, cost match, eligibility, funds, monthly spend limit, including the $100 default when none is set) and returns a preview with `dryRun: true` and `wouldSucceed` WITHOUT creating an order or charging. Nothing is registered and the rate-limit budget is not consumed. Use it to safely confirm an operation before committing."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The registered domain name",
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount charged in pennies"
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Porkbun order ID",
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.porkbun.api#CreateDomainResponseLimits",
          "traits": {
            "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
          }
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining account credit balance in pennies after the charge"
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the success rate limit window resets"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CreateDomainResponseLimitsAttempts": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max attempts allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Attempts used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Create-attempt rate limit state"
      }
    },
    "com.porkbun.api#CreateDomainResponseLimitsSuccess": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max successes allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Successes used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Successful-registration rate limit state"
      }
    },
    "com.porkbun.api#CreateDomainResponseLimits": {
      "type": "structure",
      "members": {
        "attempts": {
          "target": "com.porkbun.api#CreateDomainResponseLimitsAttempts",
          "traits": {
            "smithy.api#documentation": "Create-attempt rate limit state"
          }
        },
        "success": {
          "target": "com.porkbun.api#CreateDomainResponseLimitsSuccess",
          "traits": {
            "smithy.api#documentation": "Successful-registration rate limit state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
      }
    },
    "com.porkbun.api#DryRunPreviewResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true on a dry-run preview — distinguishes it from a real success response.",
            "smithy.api#required": {}
          }
        },
        "wouldSucceed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the operation would complete given current funds and spend-limit state. (Hard validation failures — unavailable, bad price, ineligible — return a normal error response instead of a preview.)",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.porkbun.api#DryRunPreviewResponseOperation",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tld": {
          "target": "smithy.api#String"
        },
        "available": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Availability as reported by the registry check (e.g. `available` / `unavailable`)."
          }
        },
        "premium": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain is a premium/aftermarket name."
          }
        },
        "duration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Term in years that would be purchased."
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total cost in pennies that would be charged.",
            "smithy.api#required": {}
          }
        },
        "costDisplay": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable cost."
          }
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current account credit balance in pennies."
          }
        },
        "sufficientFunds": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the balance covers the cost."
          }
        },
        "monthlySpendLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The account's monthly API spend cap in pennies. Present only if a cap is configured."
          }
        },
        "monthlySpendSoFar": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "API spend so far this calendar month in pennies. Present only if a cap is configured."
          }
        },
        "withinMonthlySpendLimit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this cost stays within the monthly cap. Present only if a cap is configured."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable summary of the preview outcome."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returned (HTTP 200) by /domain/create, /domain/renew, and /domain/transfer when the request includes `dryRun: true`. All validation has run but nothing was created or charged. All money amounts are in pennies (USD cents)."
      }
    },
    "com.porkbun.api#DryRunPreviewResponseOperation": {
      "type": "enum",
      "members": {
        "REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration"
          }
        },
        "RENEWAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "renewal"
          }
        },
        "TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transfer"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CreateDomainResponseBody": {
      "type": "union",
      "members": {
        "CreateDomainResponse": {
          "target": "com.porkbun.api#CreateDomainResponse"
        },
        "DryRunPreviewResponse": {
          "target": "com.porkbun.api#DryRunPreviewResponse"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#CreateDomainResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.porkbun.api#CreateDomainResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#CreateDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#CreateDomainResponse2"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/create/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Register a domain\n\nRegister a domain, paid from account credit or directly in USDC. Requirements:\n- Account email and phone must be verified\n- Enough **prepaid credit** to cover the price, or `\"payWith\": \"usdc\"` to pay directly (see \"Paying for it\" below)\n- `agreeToTerms` must be `'yes'` or `'1'`\n- `cost` must equal the current price for the domain's minimum registration duration (in pennies)\n- Premium domains cannot be registered via API, and a single order cannot exceed $100 (`ORDER_TOO_LARGE`)\n\n## Paying for it\n\nTwo ways: from prepaid account credit (the default), or directly in USDC.\n\n**From account credit.** No card on file is charged at purchase time - the thing most first-time callers get wrong, because having a card saved is not enough; the balance has to be there before the call.\n- Read the balance with `GET /account/balance` (cents, plus a display string).\n- Add to it: `POST /account/topup` charges a saved card now (with the account holder's OK); `POST /account/topupMpp` returns a link an agent pays with the user's card from a Stripe Link agent wallet; `POST /account/topupCrypto` opens a USDC checkout an agent's wallet can pay over x402; or the account holder adds credit at https://porkbun.com/account/credit.\n- Turn on **auto top-up** at https://porkbun.com/account/api so a saved card refills the balance when it drops below a threshold. The hands-off option for an agent that registers on its own.\n- Rehearse with `dryRun: true`, which reports `cost`, `balance`, `sufficientFunds` and, when short, `shortfall`.\n\nA purchase attempted without enough credit returns `INSUFFICIENT_FUNDS` carrying `cost`, `balance`, `shortfall`, `topUpAvailable` and `usdcAmountToCover` in cents, and a message naming them.\n\n**Directly in USDC (x402).** Add `\"payWith\": \"usdc\"`. After every check passes, the call answers HTTP 402 `PAYMENT_REQUIRED` with Coinbase's x402 terms in the `PAYMENT-REQUIRED` header and charges nothing. An x402 client pays them and repeats the same request with a `PAYMENT-SIGNATURE` header, and the registration completes in that call, with the receipt in `PAYMENT-RESPONSE`. No credit is needed. If the registration fails after payment, the payment is not sent back to the wallet: it stays on the account as credit (`payment.keptAsCredit` and `balance_cents` in the error), ready to retry from credit. Guide: https://porkbun.com/llms/guides/pay-with-usdc-x402\n\n**Monthly limit.** Either way, purchases count toward the account's monthly API spend limit, $100 a month until the account holder sets their own at https://porkbun.com/account/api (`MONTHLY_SPEND_LIMIT_EXCEEDED`). Guide: https://porkbun.com/llms/guides/spend-limits\n\nRegistrations are always for the registry-minimum duration (usually 1 year).\n\n**WHOIS privacy.** WHOIS privacy is automatically enabled on new registrations (when the TLD supports it). Pass the optional `whoisPrivacy` field to override this on a per-registration basis, or change the account-level default under Account Security Settings on porkbun.com/account.\n\n**Rate limits (both apply):**\n- Attempt limit (default: 1 attempt per second per account)\n- Success limit (default: 1000 successful registrations per 86400 seconds per account)\n\nBoth limits are configurable per API key and their current values are returned in the `limits` field of the response.\n\n## Dry run\n\nAdd `dryRun: true` to validate everything and preview the cost WITHOUT registering or charging — nothing is created. Send `cost: 0` with it to be quoted rather than having to match a price you do not know yet, and note that a dry run is answered even when the balance is too low: `wouldSucceed` comes back false with `shortfall` saying by how much. Example response:\n\n```json\n{\n  \"status\": \"SUCCESS\",\n  \"dryRun\": true,\n  \"wouldSucceed\": true,\n  \"operation\": \"registration\",\n  \"domain\": \"example.com\",\n  \"tld\": \"com\",\n  \"available\": \"available\",\n  \"premium\": false,\n  \"duration\": 1,\n  \"cost\": 973,\n  \"costDisplay\": \"$9.73\",\n  \"balance\": 5000,\n  \"sufficientFunds\": true,\n  \"message\": \"Dry run: this registration would succeed and cost $9.73. No order was created and no charge was made.\",\n  \"requestId\": \"019e04fa-258d-7d11-aa86-4d5795c3fe8f\"\n}\n```"
      }
    },
    "com.porkbun.api#RenewDomainRequestPayWith": {
      "type": "enum",
      "members": {
        "USDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional. `\"usdc\"` pays for this purchase directly in USDC on Base over x402 instead of from account credit. The first call answers HTTP 402 (`PAYMENT_REQUIRED`) with Coinbase's terms in the `PAYMENT-REQUIRED` header and charges nothing; an x402 client pays and repeats the same request with a `PAYMENT-SIGNATURE` header, and the purchase completes in that call. If it then fails, the payment stays on the account as account credit; it is not sent back to the wallet. If your wallet pays URLs itself instead, pay the 402's `x402Url` (or have a person pay `payUrl`) and repeat the request with `usdcCheckoutId`. See the guide: https://porkbun.com/llms/guides/pay-with-usdc-x402"
      }
    },
    "com.porkbun.api#RenewDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The renewal cost in pennies (USD cents). Must exactly equal the total price for the domain at its minimum renewal duration. Obtain this from /domain/checkDomain first.",
            "smithy.api#required": {}
          }
        },
        "payWith": {
          "target": "com.porkbun.api#RenewDomainRequestPayWith",
          "traits": {
            "smithy.api#documentation": "Optional. `\"usdc\"` pays for this purchase directly in USDC on Base over x402 instead of from account credit. The first call answers HTTP 402 (`PAYMENT_REQUIRED`) with Coinbase's terms in the `PAYMENT-REQUIRED` header and charges nothing; an x402 client pays and repeats the same request with a `PAYMENT-SIGNATURE` header, and the purchase completes in that call. If it then fails, the payment stays on the account as account credit; it is not sent back to the wallet. If your wallet pays URLs itself instead, pay the 402's `x402Url` (or have a person pay `payUrl`) and repeat the request with `usdcCheckoutId`. See the guide: https://porkbun.com/llms/guides/pay-with-usdc-x402"
          }
        },
        "usdcCheckoutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "With `payWith: \"usdc\"`: the `checkoutId` from an earlier `PAYMENT_REQUIRED`, once its `x402Url` or `payUrl` has been paid. Send it with otherwise the same request; the purchase completes if the checkout is paid and was opened for this purchase."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, runs all pre-flight validation and returns a preview with `dryRun: true` and `wouldSucceed` WITHOUT renewing or charging. Nothing changes and the rate-limit budget is not consumed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#RenewDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The renewed domain name",
            "smithy.api#required": {}
          }
        },
        "expirationDate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new expiration date returned by the registry"
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total amount charged in pennies"
          }
        },
        "orderId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Internal Porkbun order ID",
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.porkbun.api#RenewDomainResponseLimits",
          "traits": {
            "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
          }
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining account credit balance in pennies after the charge"
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds until the success rate limit window resets"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponseLimitsAttempts": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max attempts allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Attempts used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponseLimitsSuccess": {
      "type": "structure",
      "members": {
        "TTL": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Window in seconds"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max successes allowed"
          }
        },
        "used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Successes used"
          }
        },
        "naturalLanguage": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponseLimits": {
      "type": "structure",
      "members": {
        "attempts": {
          "target": "com.porkbun.api#RenewDomainResponseLimitsAttempts"
        },
        "success": {
          "target": "com.porkbun.api#RenewDomainResponseLimitsSuccess"
        }
      },
      "traits": {
        "smithy.api#documentation": "Current rate limit state for both attempt and success limits"
      }
    },
    "com.porkbun.api#RenewDomainResponseBody": {
      "type": "union",
      "members": {
        "RenewDomainResponse": {
          "target": "com.porkbun.api#RenewDomainResponse"
        },
        "DryRunPreviewResponse": {
          "target": "com.porkbun.api#DryRunPreviewResponse"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#RenewDomainResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.porkbun.api#RenewDomainResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#RenewDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#RenewDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#RenewDomainResponse2"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/renew/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Renew a domain\n\nRenew a domain, paid from account credit or directly in USDC. Requirements:\n- Domain must be in your account and active\n- Domain must be opted in to API access\n- Account email and phone must be verified\n- Sufficient account credit, or `\"payWith\": \"usdc\"` to pay directly\n- `cost` must equal the current renewal price for the domain's minimum renewal duration (in pennies)\n- Domain must have been registered more than 30 days ago (checked against the domain's creation date)\n- Domain must not have been successfully renewed within the last 30 days\n- Premium renewals are not currently supported via API\n\nRenewals are always for the registry-minimum duration (usually 1 year). Use `/domain/checkDomain/{domain}` with `priceType=renewal` to get the current price before renewing.\n\n**Rate limits (both apply):**\n- Attempt limit (default: 1 attempt per second per account)\n- Success limit (default: 1000 successful renewals per 86400 seconds per account)\n\nBoth limits are configurable per API key and their current values are returned in the `limits` field of the response.\n\n## Dry run\n\nAdd `dryRun: true` to validate everything and preview the cost WITHOUT renewing or charging — nothing is created. Example response:\n\n```json\n{\n  \"status\": \"SUCCESS\",\n  \"dryRun\": true,\n  \"wouldSucceed\": true,\n  \"operation\": \"renewal\",\n  \"domain\": \"example.com\",\n  \"tld\": \"com\",\n  \"available\": \"unavailable\",\n  \"premium\": false,\n  \"duration\": 1,\n  \"cost\": 1099,\n  \"costDisplay\": \"$10.99\",\n  \"balance\": 5000,\n  \"sufficientFunds\": true,\n  \"message\": \"Dry run: this renewal would succeed and cost $10.99. No order was created and no charge was made.\",\n  \"requestId\": \"019e04fa-3c11-7a02-9bd2-1f7c0e4a8b55\"\n}\n```\n\n**Paying for it.** Two ways. **From prepaid account credit** (the default): no card on file is charged at purchase time, so the balance has to be there first. Read it with `GET /account/balance`; add to it with `POST /account/topup` (a saved card, with the account holder's OK), `POST /account/topupMpp` (the user's card from a Stripe Link agent wallet), `POST /account/topupCrypto` (USDC) or at https://porkbun.com/account/credit, and auto top-up at https://porkbun.com/account/api keeps it filled. Too little credit returns `INSUFFICIENT_FUNDS` with `cost`, `balance`, `shortfall` and `usdcAmountToCover` in cents. **Or directly in USDC:** add `\"payWith\": \"usdc\"` and an x402 client pays the HTTP 402 this returns (`PAYMENT_REQUIRED`, terms in the `PAYMENT-REQUIRED` header) and repeats the request with `PAYMENT-SIGNATURE`; no credit is needed, and if the purchase fails the payment stays on the account as credit (https://porkbun.com/llms/guides/pay-with-usdc-x402). Either way the account's monthly API spend limit applies ($100 a month until the account holder sets their own; `MONTHLY_SPEND_LIMIT_EXCEEDED`). `dryRun: true` reports cost and balance without charging, and `dryRun` with `cost: 0` returns a quote."
      }
    },
    "com.porkbun.api#TransferDomainRequestPayWith": {
      "type": "enum",
      "members": {
        "USDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Optional. `\"usdc\"` pays for this purchase directly in USDC on Base over x402 instead of from account credit. The first call answers HTTP 402 (`PAYMENT_REQUIRED`) with Coinbase's terms in the `PAYMENT-REQUIRED` header and charges nothing; an x402 client pays and repeats the same request with a `PAYMENT-SIGNATURE` header, and the purchase completes in that call. If it then fails, the payment stays on the account as account credit; it is not sent back to the wallet. If your wallet pays URLs itself instead, pay the 402's `x402Url` (or have a person pay `payUrl`) and repeat the request with `usdcCheckoutId`. See the guide: https://porkbun.com/llms/guides/pay-with-usdc-x402"
      }
    },
    "com.porkbun.api#TransferDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain name to transfer (e.g. `example.com`)."
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The EPP auth code for the domain.",
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The transfer cost in cents as returned by the pricing API. Must match exactly.",
            "smithy.api#required": {}
          }
        },
        "holdForDnsSetup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Charge the transfer but hold it at `PENDINGDNS` instead of releasing it to the registry, so the DNS zone can be built before the domain moves. This is the no-downtime path: hold, then `POST /domain/prepareTransfer/{domain}`, then load records with `/dns/import/{domain}`, then `POST /domain/startTransfer/{domain}`. Nothing releases a held transfer on a timer. Not available for .uk or Handshake TLDs, which return `TRANSFER_HOLD_NOT_AVAILABLE` and are not charged."
          }
        },
        "payWith": {
          "target": "com.porkbun.api#TransferDomainRequestPayWith",
          "traits": {
            "smithy.api#documentation": "Optional. `\"usdc\"` pays for this purchase directly in USDC on Base over x402 instead of from account credit. The first call answers HTTP 402 (`PAYMENT_REQUIRED`) with Coinbase's terms in the `PAYMENT-REQUIRED` header and charges nothing; an x402 client pays and repeats the same request with a `PAYMENT-SIGNATURE` header, and the purchase completes in that call. If it then fails, the payment stays on the account as account credit; it is not sent back to the wallet. If your wallet pays URLs itself instead, pay the 402's `x402Url` (or have a person pay `payUrl`) and repeat the request with `usdcCheckoutId`. See the guide: https://porkbun.com/llms/guides/pay-with-usdc-x402"
          }
        },
        "usdcCheckoutId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "With `payWith: \"usdc\"`: the `checkoutId` from an earlier `PAYMENT_REQUIRED`, once its `x402Url` or `payUrl` has been paid. Send it with otherwise the same request; the purchase completes if the checkout is paid and was opened for this purchase."
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. When true, runs all pre-flight validation and returns a preview with `dryRun: true` and `wouldSucceed` WITHOUT initiating the transfer or charging. Nothing changes and the rate-limit budget is not consumed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#TransferDomainResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#TransferDomainResponseStatus"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "orderId": {
          "target": "smithy.api#Integer"
        },
        "transferId": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "balance": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remaining account credit balance in cents."
          }
        },
        "ttlRemaining": {
          "target": "smithy.api#Integer"
        },
        "limits": {
          "target": "com.porkbun.api#TransferDomainResponseLimits"
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Per-request UUID (also in the X-Request-Id header). Present on every API response."
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponseLimits": {
      "type": "structure",
      "members": {
        "attempts": {
          "target": "smithy.api#Document"
        },
        "success": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponseBody": {
      "type": "union",
      "members": {
        "TransferDomainResponse": {
          "target": "com.porkbun.api#TransferDomainResponse"
        },
        "DryRunPreviewResponse": {
          "target": "com.porkbun.api#DryRunPreviewResponse"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainResponse2": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.porkbun.api#TransferDomainResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#TransferDomain": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#TransferDomainRequest"
      },
      "output": {
        "target": "com.porkbun.api#TransferDomainResponse2"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/transfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Initiate a domain transfer\n\nInitiates an inbound domain transfer to Porkbun, paid from account credit or directly in USDC. The transfer is processed asynchronously and typically takes 5–7 days to complete.\n\n**Requirements:**\n- Account email and phone must be verified.\n- Sufficient account credit to cover the transfer cost, or `\"payWith\": \"usdc\"` to pay directly.\n- Domain must not already be in your account.\n- No other active transfer for the same domain.\n- `.uk` and manage-only TLDs are not supported via API.\n- Premium domain transfers are not supported via API.\n- Some registries refuse registrant contacts on temporary or encrypted email providers and suspend domains that use one. `.in` and its second levels are the first; a transfer whose registrant contact uses one is refused with `REGISTRANT_EMAIL_NOT_ACCEPTED` before any charge. This is about the contact recorded on the domain, not about who hosts mail for it.\n\n## Dry run\n\nAdd `dryRun: true` to validate everything and preview the cost WITHOUT initiating the transfer or charging — nothing is created. Example response:\n\n```json\n{\n  \"status\": \"SUCCESS\",\n  \"dryRun\": true,\n  \"wouldSucceed\": true,\n  \"operation\": \"transfer\",\n  \"domain\": \"example.com\",\n  \"tld\": \"com\",\n  \"available\": \"unavailable\",\n  \"premium\": false,\n  \"duration\": 1,\n  \"cost\": 999,\n  \"costDisplay\": \"$9.99\",\n  \"balance\": 5000,\n  \"sufficientFunds\": true,\n  \"message\": \"Dry run: this transfer would succeed and cost $9.99. No order was created and no charge was made.\",\n  \"requestId\": \"019e04fa-5f22-7c93-8a41-2e9d0b3f6c77\"\n}\n```\n\n**Paying for it.** Two ways. **From prepaid account credit** (the default): no card on file is charged at purchase time, so the balance has to be there first. Read it with `GET /account/balance`; add to it with `POST /account/topup` (a saved card, with the account holder's OK), `POST /account/topupMpp` (the user's card from a Stripe Link agent wallet), `POST /account/topupCrypto` (USDC) or at https://porkbun.com/account/credit, and auto top-up at https://porkbun.com/account/api keeps it filled. Too little credit returns `INSUFFICIENT_FUNDS` with `cost`, `balance`, `shortfall` and `usdcAmountToCover` in cents. **Or directly in USDC:** add `\"payWith\": \"usdc\"` and an x402 client pays the HTTP 402 this returns (`PAYMENT_REQUIRED`, terms in the `PAYMENT-REQUIRED` header) and repeats the request with `PAYMENT-SIGNATURE`; no credit is needed, and if the purchase fails the payment stays on the account as credit (https://porkbun.com/llms/guides/pay-with-usdc-x402). Either way the account's monthly API spend limit applies ($100 a month until the account holder sets their own; `MONTHLY_SPEND_LIMIT_EXCEEDED`). `dryRun: true` reports cost and balance without charging, and `dryRun` with `cost: 0` returns a quote."
      }
    },
    "com.porkbun.api#DomainGetTransferSetupRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainGetTransferSetupResponsePorkbunNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.porkbun.api#DomainGetTransferSetupResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "transfer": {
          "target": "smithy.api#Document"
        },
        "held": {
          "target": "smithy.api#Integer"
        },
        "zoneReady": {
          "target": "smithy.api#Integer"
        },
        "recordCount": {
          "target": "smithy.api#Integer"
        },
        "delegation": {
          "target": "smithy.api#Document"
        },
        "dnssec": {
          "target": "smithy.api#Integer"
        },
        "nextStep": {
          "target": "smithy.api#Document"
        },
        "porkbunNameservers": {
          "target": "com.porkbun.api#DomainGetTransferSetupResponsePorkbunNameserversList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainGetTransferSetup": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainGetTransferSetupRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainGetTransferSetupResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/getTransferSetup/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "State of an in-flight inbound transfer\n\nWhere a pending inbound transfer is and what it is waiting on: whether it is held at `PENDINGDNS`, whether its DNS zone exists, how many records are in it, what the domain currently delegates to, and the next step to take. Use it to resume a no-downtime transfer without keeping state of your own."
      }
    },
    "com.porkbun.api#TransferDomainPrepareRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#TransferDomainPrepareResponsePorkbunNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.porkbun.api#TransferDomainPrepareResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "zoneReady": {
          "target": "smithy.api#Boolean"
        },
        "recordCount": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "porkbunNameservers": {
          "target": "com.porkbun.api#TransferDomainPrepareResponsePorkbunNameserversList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#TransferDomainPrepare": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#TransferDomainPrepareRequest"
      },
      "output": {
        "target": "com.porkbun.api#TransferDomainPrepareResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/prepareTransfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Create the DNS zone for a held transfer\n\nCreate the Porkbun DNS zone for a domain whose inbound transfer is held at `PENDINGDNS`, so records can be added **before** the domain moves. The zone is created deliberately rather than as a side effect of the first record write. Returns the Porkbun nameservers to point the domain at. Then load the zone with `/dns/import/{domain}` (or the `/dns/*` endpoints) and release with `/domain/startTransfer/{domain}`. Supports `dryRun`."
      }
    },
    "com.porkbun.api#DomainStartTransferRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Release even though the zone is empty. Use only when the domain needs no DNS here."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainStartTransferResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainStartTransfer": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainStartTransferRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainStartTransferResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/startTransfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Release a held transfer to the registry\n\nRelease a transfer held at `PENDINGDNS` into the registry pipeline. Nothing releases a held transfer on a timer — this call is the only thing that does.\n\nRefuses with `TRANSFER_ZONE_EMPTY` if the zone has no records, which is the outage the hold exists to prevent. Pass `force: true` only if the domain genuinely needs no DNS at Porkbun. Supports `dryRun`."
      }
    },
    "com.porkbun.api#DomainCancelTransferRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainCancelTransferResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "cancelled": {
          "target": "smithy.api#Boolean"
        },
        "previousStatus": {
          "target": "smithy.api#String"
        },
        "transferStatus": {
          "target": "smithy.api#String"
        },
        "withdrawnAtRegistry": {
          "target": "smithy.api#Boolean"
        },
        "registryResultCode": {
          "target": "smithy.api#String"
        },
        "registryCode": {
          "target": "smithy.api#String"
        },
        "refunded": {
          "target": "smithy.api#Boolean"
        },
        "refundAmount": {
          "target": "smithy.api#Integer"
        },
        "orderId": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainCancelTransfer": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainCancelTransferRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainCancelTransferResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/cancelTransfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Cancel an inbound transfer and refund it\n\nCancel a pending inbound transfer and refund the order. The sequence is deliberate: mark the transfer cancelled locally, withdraw it at the registry, **verify** the registry actually accepted the withdrawal, and only then refund. If the registry state cannot be confirmed the local row is restored and `TRANSFER_STATE_UNCONFIRMED` is returned rather than refunding a transfer that may still be live.\n\nThe response reports `withdrawnAtRegistry`, `registryResultCode`, `refunded` and `refundAmount` so you can see exactly how far it got. Supports `dryRun`."
      }
    },
    "com.porkbun.api#DomainUpdateTransferAuthCodeRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Domain name."
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The replacement authorization code, exactly as the losing registrar issued it. Never interpolate this into a shell command.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#DomainUpdateTransferAuthCodeResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "authCodeValid": {
          "target": "smithy.api#Boolean"
        },
        "previousStatus": {
          "target": "smithy.api#String"
        },
        "transferStatus": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.porkbun.api#DomainUpdateTransferAuthCode": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#DomainUpdateTransferAuthCodeRequest"
      },
      "output": {
        "target": "com.porkbun.api#DomainUpdateTransferAuthCodeResponse"
      },
      "errors": [
        {
          "target": "com.porkbun.api#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domain/updateTransferAuthCode/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Replace the auth code on a stuck transfer\n\nReplace the authorization code on an inbound transfer that stalled because the code was wrong, and re-queue it — instead of cancelling, refunding and re-submitting.\n\nThe new code is validated against the registry before it is stored, so a bad code is rejected here (`INVALID_AUTH_CODE`) rather than failing again later. Only transfers in a repairable state qualify; anything else returns `TRANSFER_NOT_REPAIRABLE`. Supports `dryRun`."
      }
    },
    "com.porkbun.api#GetTransferGetRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain name (e.g. `example.com`)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.porkbun.api#GetTransferResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#GetTransferResponseStatus"
        },
        "transfer": {
          "target": "com.porkbun.api#GetTransferResponseTransfer"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferResponseTransferStatus": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "PENDINGAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGAUTH"
          }
        },
        "PENDINGSUBMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGSUBMIT"
          }
        },
        "PENDINGTRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDINGTRANSFER"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "INIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INIT"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferResponseTransfer": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.porkbun.api#GetTransferResponseTransferStatus"
        },
        "statusDescription": {
          "target": "smithy.api#String"
        },
        "transferDate": {
          "target": "smithy.api#String"
        },
        "orderId": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#GetTransferGet": {
      "type": "operation",
      "input": {
        "target": "com.porkbun.api#GetTransferGetRequest"
      },
      "output": {
        "target": "com.porkbun.api#GetTransferResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domain/getTransfer/{domain}",
          "code": 200
        },
        "smithy.api#documentation": "Get transfer status\n\nReturns the most recent transfer record for the specified domain in your account. Authenticate using `X-API-Key` and `X-Secret-API-Key` headers, or `Authorization: Bearer <token>`."
      }
    },
    "com.porkbun.api#ListTransfersResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.porkbun.api#ListTransfersResponseStatus"
        },
        "transfers": {
          "target": "com.porkbun.api#ListTransfersResponseTransfersList"
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersResponseStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      },
      "traits": {}
    },
    "com.porkbun.api#ListTransfersResponseTransfersItemStatus": {
[...]
